<!-- {{$Think.session.verifyCode}}<br>{{$Think.session.userphone}} -->
	<div class="banner">
		<ul>
			<li style="z-index:1"><img src="__PUBLIC__/Home/images/banner.jpg" alt=""></li>
			<li><img src="__PUBLIC__/Home/images/banner.jpg" alt=""></li>
			<li><img src="__PUBLIC__/Home/images/banner.jpg" alt=""></li>
		</ul>
		<a href="javascript:;" class="prev"></a>
		<a href="javascript:;" class="next"></a>
	</div>
	<div class="index1">
		<div class="index1-inner w1180 clearfix">
			<p class="index1-p1">
				<span class="orange">热门搜索：</span>
				<a href="#">一棵知道很多故事的树</a>
				<a href="#">小龙人</a>
				<a href="#">小龙人</a>
			</p>
			<span class="all-sort">全部分类<img src="__PUBLIC__/Home/images/icon/select01.png" alt="">
				<div class="sort-list">
					<ul>
						<li><a href="#">全部分类</a></li>
						<li><a href="#">文章</a></li>
						<li><a href="#">注译者</a></li>
						<li><a href="#">书名</a></li>
						<li><a href="#">品牌</a></li>
						<li><a href="#">书单</a></li>
					</ul>
				</div>
			</span>
			<input type="text" class="index1-input" placeholder="文章标题 / 书名 / 著译者 / ISBN / 出版社 / 书单">
			<a href="#" class="index1-search">搜索</a>
		</div>
	</div>
	<div class="suspension-nav-wrap clearfix">
	  <div class="right-floatNav"> <a href="#" class="s1"><i></i>我的书单</a> <a href="#" class="s2"><i></i>制作书单</a> <a href="#" class="s3 last"><i></i>上传图书</a> </div>
	</div>
	<div class="index2">
		<div class="index2-inner w1180">
			<h4>中国小学图书馆基本配备书目<a href="#"><img src="__PUBLIC__/Home/images/icon/index2-icon.png" alt=""></a></h4>
			<h5>做儿童阅读的合格守门人</h5>
			<div class="index2-wrap">
				<div class="index2-banner">
					<ul>
						<li>
							<div class="index2-pic">
								<div class="index2-pic-inner">
									<img src="__PUBLIC__/Home/images/index01.jpg" alt="">
									<div class="book-mask"><a href="#" class="index2-img"><img src="__PUBLIC__/Home/images/icon/index02.png" alt=""></a></div>
								</div>
							</div>
							<h5>< 教师书目 ></h5>
							<p>改变教师的职业倦怠、增进教师的职业神圣感、改善教师的教学方法、关心教师的健康、拓展教师的知识面 --</p>
						</li>
						<li>
							<div class="index2-pic">
								<div class="index2-pic-inner">
									<img src="__PUBLIC__/Home/images/index01.jpg" alt="">
									<div class="book-mask"><a href="#" class="index2-img"><img src="__PUBLIC__/Home/images/icon/index02.png" alt=""></a></div>
								</div>
							</div>
							<h5>< 教师书目 ></h5>
							<p>改变教师的职业倦怠、增进教师的职业神圣感、改善教师的教学方法、关心教师的健康、拓展教师的知识面 --</p>
						</li>
						<li>
							<div class="index2-pic">
								<div class="index2-pic-inner">
									<img src="__PUBLIC__/Home/images/index01.jpg" alt="">
									<div class="book-mask"><a href="#" class="index2-img"><img src="__PUBLIC__/Home/images/icon/index02.png" alt=""></a></div>
								</div>
							</div>
							<h5>< 教师书目 ></h5>
							<p>改变教师的职业倦怠、增进教师的职业神圣感、改善教师的教学方法、关心教师的健康、拓展教师的知识面 --</p>
						</li>
						<li>
							<div class="index2-pic">
								<div class="index2-pic-inner">
									<img src="__PUBLIC__/Home/images/index01.jpg" alt="">
									<div class="book-mask"><a href="#" class="index2-img"><img src="__PUBLIC__/Home/images/icon/index02.png" alt=""></a></div>
								</div>
							</div>
							<h5>< 教师书目 ></h5>
							<p>改变教师的职业倦怠、增进教师的职业神圣感、改善教师的教学方法、关心教师的健康、拓展教师的知识面 --</p>
						</li>
					</ul>
				</div>
				<a href="javascript:;" class="index2-prev"></a>
				<a href="javascript:;" class="index2-next"></a>
			</div>
		</div>
	</div>
	<div class="index3">
		<div class="index3-inner w1180">
			<h4>每月推荐--最好的图书和资讯</h4>
			<h5>一个月为您推荐一次最好图书资讯</h5>
			<div class="index3-scts"><a href="#"><img src="__PUBLIC__/Home/images/icon/scts.png" alt="">上传图书</a></div>
			<div class="index3-wrap">
				<div class="index3-banner">
					<ul>
						<li>
							<div class="index3-pic">
								<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="index3-p1">< 好酸好酸的柠檬呀 ></a>
									<p class="index3-p2">岁到8岁是孩子从幼儿成长到儿童......</p>
									<p class="index3-p3">
										<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
										<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
									</p>
								</div>
							</div>
						</li>
						<li>
							<div class="index3-pic">
								<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="index3-p1">< 好酸好酸的柠檬呀 ></a>
									<p class="index3-p2">岁到8岁是孩子从幼儿成长到儿童......</p>
									<p class="index3-p3">
										<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
										<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
									</p>
								</div>
							</div>
						</li>
						<li>
							<div class="index3-pic">
								<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="index3-p1">< 好酸好酸的柠檬呀 ></a>
									<p class="index3-p2">岁到8岁是孩子从幼儿成长到儿童......</p>
									<p class="index3-p3">
										<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
										<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
									</p>
								</div>
							</div>
						</li>
						<li>
							<div class="index3-pic">
								<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="index3-p1">< 好酸好酸的柠檬呀 ></a>
									<p class="index3-p2">岁到8岁是孩子从幼儿成长到儿童......</p>
									<p class="index3-p3">
										<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
										<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
									</p>
								</div>
							</div>
						</li>
						<li>
							<div class="index3-pic">
								<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="index3-p1">< 好酸好酸的柠檬呀 ></a>
									<p class="index3-p2">岁到8岁是孩子从幼儿成长到儿童......</p>
									<p class="index3-p3">
										<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
										<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
									</p>
								</div>
							</div>
						</li>
						<li>
							<div class="index3-pic">
								<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="index3-p1">< 好酸好酸的柠檬呀 ></a>
									<p class="index3-p2">岁到8岁是孩子从幼儿成长到儿童......</p>
									<p class="index3-p3">
										<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
										<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<a href="javascript:;" class="index3-prev"></a>
				<a href="javascript:;" class="index3-next"></a>
			</div>
			<div class="index3-wrap2">
				<div class="index3-banner2">
					<ul>
						<li class="index3-cur"><a href="#">本月推荐新书</a></li>
						<li><a href="#">本周推荐新书</a></li>
						<li><a href="#">年度新书排行</a></li>
						<li><a href="#">新书热销榜</a></li>
						<li><a href="#">年度新书排行</a></li>
					</ul>
				</div>
				<a href="javascript:;" class="index3-prev2"></a>
				<a href="javascript:;" class="index3-next2"></a>
			</div>
		</div>
	</div>
	<div class="index4">
		<div class="index4-inner w1180">
			<h4>书单展示--为您搜集最好的书本合集<a href="{{:U('Book/sdList')}}"><img src="__PUBLIC__/Home/images/icon/index2-icon.png" alt=""></a></h4>
			<h5>这里为你汇总了最适合您孩子的书本</h5>
			<div class="index4-wrap">
				<div class="index4-banner">
					<ul>
						<li>
							<div class="index4-pic">
								<img src="__PUBLIC__/Home/images/book01.jpg" alt="">
								<div class="book-mask"><a href="#"><img src="__PUBLIC__/Home/images/icon/index04-01.png" alt=""></a></div>
							</div>
							<p class="index4-p1">儿童科普书单--最全面的幼儿科学馆带领孩子走进科学世界</p>
							<p class="index4-p2">
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
								<span>by：sky</span>
							</p>
						</li>
						<li>
							<div class="index4-pic">
								<img src="__PUBLIC__/Home/images/book02.jpg" alt="">
								<div class="book-mask"><a href="#"><img src="__PUBLIC__/Home/images/icon/index04-01.png" alt=""></a></div>
							</div>
							<p class="index4-p1">儿童科普书单--最全面的幼儿科学馆带领孩子走进科学世界</p>
							<p class="index4-p2">
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
								<span>by：sky</span>
							</p>
						</li>
						<li>
							<div class="index4-pic">
								<img src="__PUBLIC__/Home/images/book01.jpg" alt="">
								<div class="book-mask"><a href="#"><img src="__PUBLIC__/Home/images/icon/index04-01.png" alt=""></a></div>
							</div>
							<p class="index4-p1">儿童科普书单--最全面的幼儿科学馆带领孩子走进科学世界</p>
							<p class="index4-p2">
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
								<span>by：sky</span>
							</p>
						</li>
						<li>
							<div class="index4-pic">
								<img src="__PUBLIC__/Home/images/book02.jpg" alt="">
								<div class="book-mask"><a href="#"><img src="__PUBLIC__/Home/images/icon/index04-01.png" alt=""></a></div>
							</div>
							<p class="index4-p1">儿童科普书单--最全面的幼儿科学馆带领孩子走进科学世界</p>
							<p class="index4-p2">
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
								<span>by：sky</span>
							</p>
						</li>
						<li>
							<div class="index4-pic">
								<img src="__PUBLIC__/Home/images/book01.jpg" alt="">
								<div class="book-mask"><a href="#"><img src="__PUBLIC__/Home/images/icon/index04-01.png" alt=""></a></div>
							</div>
							<p class="index4-p1">儿童科普书单--最全面的幼儿科学馆带领孩子走进科学世界</p>
							<p class="index4-p2">
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
								<span>by：sky</span>
							</p>
						</li>
						<li>
							<div class="index4-pic">
								<img src="__PUBLIC__/Home/images/book02.jpg" alt="">
								<div class="book-mask"><a href="#"><img src="__PUBLIC__/Home/images/icon/index04-01.png" alt=""></a></div>
							</div>
							<p class="index4-p1">儿童科普书单--最全面的幼儿科学馆带领孩子走进科学世界</p>
							<p class="index4-p2">
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
								<span>by：sky</span>
							</p>
						</li>
						<li>
							<div class="index4-pic">
								<img src="__PUBLIC__/Home/images/book01.jpg" alt="">
								<div class="book-mask"><a href="#"><img src="__PUBLIC__/Home/images/icon/index04-01.png" alt=""></a></div>
							</div>
							<p class="index4-p1">儿童科普书单--最全面的幼儿科学馆带领孩子走进科学世界</p>
							<p class="index4-p2">
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
								<span>by：sky</span>
							</p>
						</li>
						<li>
							<div class="index4-pic">
								<img src="__PUBLIC__/Home/images/book02.jpg" alt="">
								<div class="book-mask"><a href="#"><img src="__PUBLIC__/Home/images/icon/index04-01.png" alt=""></a></div>
							</div>
							<p class="index4-p1">儿童科普书单--最全面的幼儿科学馆带领孩子走进科学世界</p>
							<p class="index4-p2">
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
								<span>by：sky</span>
							</p>
						</li>
						<li>
							<div class="index4-pic">
								<img src="__PUBLIC__/Home/images/book01.jpg" alt="">
								<div class="book-mask"><a href="#"><img src="__PUBLIC__/Home/images/icon/index04-01.png" alt=""></a></div>
							</div>
							<p class="index4-p1">儿童科普书单--最全面的幼儿科学馆带领孩子走进科学世界</p>
							<p class="index4-p2">
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
								<span>by：sky</span>
							</p>
						</li>
						<li>
							<div class="index4-pic">
								<img src="__PUBLIC__/Home/images/book02.jpg" alt="">
								<div class="book-mask"><a href="#"><img src="__PUBLIC__/Home/images/icon/index04-01.png" alt=""></a></div>
							</div>
							<p class="index4-p1">儿童科普书单--最全面的幼儿科学馆带领孩子走进科学世界</p>
							<p class="index4-p2">
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-01.png" alt="">收藏</a>
								<a href="#"><img src="__PUBLIC__/Home/images/icon/index3-02.png" alt="">转发</a>
								<span>by：sky</span>
							</p>
						</li>
					</ul>
				</div>
				<a href="javascript:;" class="index4-prev"></a>
				<a href="javascript:;" class="index4-next"></a>
			</div>
		</div>
	</div>

