
	<div class="main clearfix">
		<include file="Public:left" />
		<div class="main-right">
			<div class="right-top">
				<div class="per-top w740">
					<a href="#" class="per-span cur-per"><img src="__PUBLIC__/Home/images/icon/evaluate01.png" alt="">收到的评价</a>
					<a href="#" class="per-span"><img src="__PUBLIC__/Home/images/icon/evaluate02.png" alt="">发出的评价</a>
					<div class="search-inp friend-s">
						<input type="text" placeholder="搜索评论或评论人"><a href="#"></a>
					</div>
				</div>
			</div>
			<div class="right-inner w740">
				<div class="evaluate">
					<ul>
						<li>
							<div class="eva-inner clearfix">
								<div class="eva-left">
									<div class="eva-pic">
										<img src="__PUBLIC__/Home/images/friend01.png" alt="">
									</div>
								</div>
								<div class="eva-right">
									<a href="#" class="fri-name">吃葡萄不吐葡萄皮的小漓江<i class="renzheng-icon"></i></a>
									<p class="eva-p1">真是好大好大的一本书，里面字数比较多，适合大一点的孩子蓝，质量不错，不过这种旧式的火车头现在已经没有了吧！</p>
									<div class="eva-p2"><span class="orange">评价了您上传的书单：</span>《比十万个为什么更全面、更有趣的儿童百科全书大汇总》</div>
									<div class="eva-p3">
										<span class="eva-a1"><a href="#">到评论页查看</a></span>
										<span class="eva-a2"><a href="#">回复对方</a></span>
									</div>
								</div>
							</div>
							<div class="eva-replay clearfix">
								<div class="eva-left">
									<div class="eva-pic">
										<img src="__PUBLIC__/Home/images/friend01.png" alt="">
									</div>
								</div>
								<div class="eva-right">
									<input type="text" placeholder="回复 吃葡萄不吐葡萄皮的小漓江：">
									<a href="#" class="eva-sub">提交</a>
								</div>
							</div>
						</li>
						<li>
							<div class="eva-inner clearfix">
								<div class="eva-left">
									<div class="eva-pic">
										<img src="__PUBLIC__/Home/images/friend01.png" alt="">
									</div>
								</div>
								<div class="eva-right">
									<a href="#" class="fri-name">吃葡萄不吐葡萄皮的小漓江<i class="renzheng-icon"></i></a>
									<p class="eva-p1"><span class="orange">回复 Smart coach：</span>真是好大好大的一本书，里面字数比较多，适合大一点的孩子蓝，质量不错，不过这种旧式的火车头现在已经没有了吧！</p>
									<div class="eva-p2"><span class="orange">评价了您上传的书单：</span>《比十万个为什么更全面、更有趣的儿童百科全书大汇总》</div>
									<div class="eva-p3">
										<span class="eva-a1"><a href="#">到评论页查看</a></span>
										<span class="eva-a2"><a href="#">回复对方</a></span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="eva-inner clearfix">
								<div class="eva-left">
									<div class="eva-pic">
										<img src="__PUBLIC__/Home/images/friend01.png" alt="">
									</div>
								</div>
								<div class="eva-right">
									<a href="#" class="fri-name">吃葡萄不吐葡萄皮的小漓江<i class="renzheng-icon"></i></a>
									<p class="eva-p1">真是好大好大的一本书，里面字数比较多，适合大一点的孩子蓝，质量不错，不过这种旧式的火车头现在已经没有了吧！</p>
									<div class="eva-p2"><span class="orange">评价了您上传的书单：</span>《比十万个为什么更全面、更有趣的儿童百科全书大汇总》</div>
									<div class="eva-p3">
										<span class="eva-a1"><a href="#">到评论页查看</a></span>
										<span class="eva-a2"><a href="#">回复对方</a></span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="eva-inner clearfix">
								<div class="eva-left">
									<div class="eva-pic">
										<img src="__PUBLIC__/Home/images/friend01.png" alt="">
									</div>
								</div>
								<div class="eva-right">
									<a href="#" class="fri-name">吃葡萄不吐葡萄皮的小漓江<i class="renzheng-icon"></i></a>
									<p class="eva-p1">真是好大好大的一本书，里面字数比较多，适合大一点的孩子蓝，质量不错，不过这种旧式的火车头现在已经没有了吧！</p>
									<div class="eva-p2"><span class="orange">评价了您上传的书单：</span>《比十万个为什么更全面、更有趣的儿童百科全书大汇总》</div>
									<div class="eva-p3">
										<span class="eva-a1"><a href="#">到评论页查看</a></span>
										<span class="eva-a2"><a href="#">回复对方</a></span>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="eva-inner clearfix">
								<div class="eva-left">
									<div class="eva-pic">
										<img src="__PUBLIC__/Home/images/friend01.png" alt="">
									</div>
								</div>
								<div class="eva-right">
									<a href="#" class="fri-name">吃葡萄不吐葡萄皮的小漓江<i class="renzheng-icon"></i></a>
									<p class="eva-p1">真是好大好大的一本书，里面字数比较多，适合大一点的孩子蓝，质量不错，不过这种旧式的火车头现在已经没有了吧！</p>
									<div class="eva-p2"><span class="orange">评价了您上传的书单：</span>《比十万个为什么更全面、更有趣的儿童百科全书大汇总》</div>
									<div class="eva-p3">
										<span class="eva-a1"><a href="#">到评论页查看</a></span>
										<span class="eva-a2"><a href="#">回复对方</a></span>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="page">
					<span class="prev"></span>
					<a href="#" class="cur">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">..</a>
					<a href="#">99</a>
					<a href="#">100</a>
					<span class="next"></span>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		/**左侧导航**/
		$('.personal ul li').removeClass('cur-li');
		$('.personal02').addClass('cur-li');
	</script>