<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>内容管理</title>
<link href="__PUBLIC__/Admin/scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/skin/default/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/pagination.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Admin/scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/scripts/jquery/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/scripts/datepicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/scripts/artdialog/dialog-plus-min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/js/laymain.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/js/common.js"></script>
<script type="text/javascript">
    $(function () {
        //图片延迟加载
        $(".pic img").lazyload({ effect: "fadeIn" });
        //点击图片链接
        $(".pic img").click(function () {
            var linkUrl = $(this).parent().parent().find(".foot a").attr("href");
            if (linkUrl != "") {
                location.href = linkUrl; //跳转到修改页面
            }
        });
    });
    
  //更改sort_id
  	var oldsort = 0;
    function remember(obj){
    	oldsort = $(obj).val();
    }
    function postNewSortnum(obj){
    	var newsort = $(obj).val();
    	if(newsort == oldsort){
	    	return false;
    	}
    	var eid = $(obj).attr('id');
    	var postd = eid+"|"+newsort;
    	__doPostBack("changeSort",postd);
    }
    
  //操作提示框
    showResult("{{$result}}","");
</script>
</head>

<body class="mainbody">
<form method="get" action="__URL__/article_list/channel_id/{{$channelid}}" id="form2">
	<input type="hidden" id="txtKeywords" name="txtKeywords" value="{{$Think.request.txtKeywords}}" />
	<input type="hidden" id="ddlCategoryId" name="ddlCategoryId" value="{{$Think.request.ddlCategoryId}}" />
	<input type="hidden" id="startt" name="startt" value="{{$Think.request.startt}}" />
	<input type="hidden" id="deadlinet" name="deadlinet" value="{{$Think.request.deadlinet}}" />
	<input type="hidden" id="txtPageNum" name="txtPageNum" value="{{$pagenum}}" />
	<input type="hidden" id="p" name="p" value="" />
</form>

<form method="post" action="__URL__/article_list/channel_id/{{$channelid}}" id="form1">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
</div>

<script type="text/javascript">
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
</script>

<!--导航栏-->
<div class="location">
  <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
  <a href="" class="home"><i></i><span>首页</span></a>
  <i class="arrow"></i>
  <span>内容列表</span>
</div>
<!--/导航栏-->

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
  <div class="toolbar">
    <div class="box-wrap">
      <a class="menu-btn"></a>
      <div class="l-list">
        <ul class="icon-list">
          <li><a class="add" href="__URL__/article_add/channel_id/{{$channelid}}"><i></i><span>新增</span></a></li>
          <!-- <li><a id="btnSave" class="save" href="javascript:__doPostBack(&#39;btnSave&#39;,&#39;&#39;)"><i></i><span>保存</span></a></li> -->
         <!--  <li><a onclick="return ExePostBack(&#39;btnAudit&#39;,&#39;审核后前台将显示该信息，确定继续吗？&#39;);" id="btnAudit" class="lock" href="javascript:__doPostBack(&#39;btnAudit&#39;,&#39;&#39;)"><i></i><span>审核</span></a></li> -->
          <li><a class="all" href="javascript:;" onclick="checkAll(this);"><i></i><span>全选</span></a></li>
          <li><a onclick="return ExePostBack(&#39;btnDelete&#39;);" id="btnDelete" class="del" href="javascript:__doPostBack(&#39;btnDelete&#39;,&#39;&#39;)"><i></i><span>删除</span></a></li>
        </ul>
        <div class="menu-list">
          <div class="rule-single-select">
          
<select name="ddlCategoryId" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ddlCategoryId\&#39;,\&#39;\&#39;)&#39;, 0)" id="ddlCategoryId">
	<option  value="0">所有类别</option>
	<volist name="categorys" id="vo">
		<option value="{{$vo['id']}}" <eq name="vo['id']" value="$Think.request.ddlCategoryId">selected </eq> >{{$vo['befor']}}{{$vo['title']}}</option>
	</volist>

</select>
          </div>
          <!-- <div class="rule-single-select">
            <select name="ddlProperty" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ddlProperty\&#39;,\&#39;\&#39;)&#39;, 0)" id="ddlProperty">
				<option value="">所有属性</option>
				<option <if condition="$Think.request.ddlProperty eq 'is_msg'">selected</if> value="is_msg">可评论</option>
				<option <if condition="$Think.request.ddlProperty eq 'is_top'">selected</if> value="is_top">置顶</option>
				<option <if condition="$Think.request.ddlProperty eq 'is_red'">selected</if> value="is_red">推荐</option>
				<option <if condition="$Think.request.ddlProperty eq 'is_hot'">selected</if> value="is_hot">热门</option>
				<option <if condition="$Think.request.ddlProperty eq 'is_slide'">selected</if> value="is_slide">幻灯片</option>
			</select>
          </div> -->
        </div>
        
        <div style="display:inline-block;margin-left:10px;">
	        	开始时间：<input name="startt" style="height:28px;" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{{$Think.request.startt}}" placeholder="开始时间" type="text" class="input rule-date-input" id="startt" />
	        	结束时间：<input name="deadlinet" style="height:28px;" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="{{$Think.request.deadlinet}}" placeholder="结束时间" type="text" class="input rule-date-input" id="deadlinet" />
	        	<a id="lbtnSearch" class="btn-search" href="javascript:__doPostBack(&#39;lbtnSearch&#39;,&#39;&#39;)"><button type="button">时间查询</button></a>
	    </div>
        
      </div>
      <div class="r-list">
        <input name="txtKeywords" value="{{$Think.request.txtKeywords}}" type="text" placeholder="{{$searchstr}}" id="txtKeywords" class="keyword" />
        <a id="lbtnSearch" class="btn-search" href="javascript:__doPostBack(&#39;lbtnSearch&#39;,&#39;&#39;)">查询</a>
        <a id="lbtnViewImg" title="文字列表视图" class="txt-view" href="javascript:__doPostBack(&#39;lbtnViewImg&#39;,&#39;&#39;)"></a>
        <a id="lbtnViewTxt" title="图像列表视图" class="img-view" href="javascript:__doPostBack(&#39;lbtnViewTxt&#39;,&#39;&#39;)"></a>
      </div>
    </div>
  </div>
</div>
<!--/工具栏-->

<!--列表-->
<div class="table-container">
  <!--文字列表-->
  
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
    <tr>
      <th width="6%">选择</th>
      <notempty name="listcoums">
	      <volist name="listcoums" id="vo">
	      	<th align="left">{{$vo['title']}}</th>
	      </volist>
      </notempty>
     <!--  <th align="left">标题</th> -->
      
      <th width="10%">操作</th>
    </tr>
    
    <volist name="list" key="k" id="vo">
	    <tr>
	      <td align="center">
	        <span class="checkall"><input id="chkId_{{$k}}" type="checkbox" name="chkId[{{$k}}]" /></span>
		    <input type="hidden" name="hidId[{{$k}}]" id="hidId_{{$k}}" value="{{$vo['id']}}" />
	      </td>
	      
	      <notempty name="listcoums">
		      <volist name="listcoums" id="v">
			      <td>{{$vo[$v['name']]|changeShowType=###}}</td>
			      <!-- <td>{{$vo["v['name']"]}}</td> -->
		      </volist>
      		</notempty>
      		
	      <!-- <td>{{$vo['add_time']}}</td> -->
	      
	      <td align="center">
	        <a href="__URL__/article_edit/channel_id/{{$channelid}}/id/{{$vo['id']}}">修改</a>
	      </td>
	      
	    </tr>
    
    </volist>
  
    <!-- <tr>
      <td align="center">
        <span class="checkall" style="vertical-align:middle;"><input id="rptList1_chkId_0" type="checkbox" name="rptList1$ctl01$chkId" /></span>
        <input type="hidden" name="rptList1$ctl01$hidId" id="rptList1_hidId_0" value="36" />
      </td>
      <td><a href="article_edit.aspx?action=Edit&channel_id=6&id=36">京东全球购将会沦为“海外代购”</a></td>
      <td>经济民生</td>
      <td>2015/4/17 11:07</td>
      <td><input name="rptList1$ctl01$txtSortId" type="text" value="99" id="rptList1_txtSortId_0" class="sort" onkeydown="return checkNumber(event);" /></td>
      <td>
        <div class="btn-tools">
          <a id="rptList1_lbtnIsMsg_0" title="取消评论" class="msg selected" href="javascript:__doPostBack(&#39;rptList1$ctl01$lbtnIsMsg&#39;,&#39;&#39;)"></a>
          <a id="rptList1_lbtnIsTop_0" title="设置置顶" class="top" href="javascript:__doPostBack(&#39;rptList1$ctl01$lbtnIsTop&#39;,&#39;&#39;)"></a>
          <a id="rptList1_lbtnIsRed_0" title="设置推荐" class="red" href="javascript:__doPostBack(&#39;rptList1$ctl01$lbtnIsRed&#39;,&#39;&#39;)"></a>
          <a id="rptList1_lbtnIsHot_0" title="设置热门" class="hot" href="javascript:__doPostBack(&#39;rptList1$ctl01$lbtnIsHot&#39;,&#39;&#39;)"></a>
          <a id="rptList1_lbtnIsSlide_0" title="取消幻灯片" class="pic selected" href="javascript:__doPostBack(&#39;rptList1$ctl01$lbtnIsSlide&#39;,&#39;&#39;)"></a>
        </div>
      </td>
      <td align="center">
        <a href="article_edit.aspx?action=Edit&channel_id=6&id=36">修改</a>
      </td>
    </tr> -->
  
  </table>
  
  <!--/文字列表-->

  <!--图片列表-->
  
  <!--/图片列表-->
</div>
<!--/列表-->

<!--内容底部-->
<div class="line20"></div>
<div class="pagelist">
  <div class="l-btns">
    <span>显示</span><input id="txtPageNum" name="txtPageNum" type="text" value="{{$pagenum}}" onblur="javascript:__doPostBack(&#39;textPageNum&#39;,&#39;&#39;);" class="pagenum"  /><span>条/页</span>
  </div> 
  <div id="PageContent" class="default">{{$page}}</div>
</div>
<script>
	$("#PageContent a").click(function(){
		var pathstr = $(this).attr("href");
		var patharr =pathstr.split("/"); 
		var pagestr = patharr[patharr.length-1];
		var parr = pagestr.split(".");
		var clickpage = parr[0];
		
		$("#form2 #p").attr("value",clickpage);
		$("#form2").submit();
		return false;
	});
</script>
<!--/内容底部-->

</form>
</body>
</html>
