<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>编辑内容</title>
<link href="__PUBLIC__/Admin/scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/skin/default/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/scripts/jquery/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/scripts/datepicker/WdatePicker.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/scripts/artdialog/dialog-plus-min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/scripts/webuploader/webuploader.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/editor/kindeditor-min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/js/uploader.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/js/laymain.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/js/common.js"></script>
<script type="text/javascript">
    $(function () {
        //初始化表单验证
        $("#form1").initValidform();

        //初始化编辑器
        var editor = KindEditor.create('.editor', {
        width: '100%',
                height: '350px',
                filterMode: false, //默认不过滤HTML
                resizeType: 1,
                uploadJson: "{{:U('UploadJson/uploadFile')}}",
                fileManagerJson: '',
                allowFileManager: true
        });
        var editorMini = KindEditor.create('.editor-mini', {
        width: '100%',
                height: '250px',
                filterMode: false, //默认不过滤HTML
                resizeType: 1,
                uploadJson: "{{:U('UploadJson/uploadFile')}}",
                items: [
                        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                        'insertunorderedlist', '|', 'emoticons', 'image', 'link']
        });

        //初始化上传控件
        $(".upload-img").InitUploader({ filesize: "102400", sendurl: "{{:U('UploadJson/uploadImg')}}", swf: "__PUBLIC__/Admin/scripts/webuploader/uploader.swf", filetypes: "gif,jpg,png,bmp,rar,zip,doc,xls,txt,mov" });
        $(".upload-video").InitUploader({ filesize: "102400", sendurl: "{{:U('Uploadjson/uploadVideo')}}", swf: "__PUBLIC__/Admin/scripts/webuploader/uploader.swf", filetypes: "flv,mp3,mp4,avi,mov" });
        $(".upload-album").InitUploader({ btntext: "批量上传", multiple: true, water: true, thumbnail: true, filesize: "0", sendurl: "{{:U('UploadJson/uploadImg')}}", swf: "__PUBLIC__/Admin/scripts/webuploader/uploader.swf" });

        //设置封面图片的样式
        $(".photo-list ul li .img-box img").each(function () {
            if ($(this).attr("src") == $("#hidFocusPhoto").val()) {
                $(this).parent().addClass("selected");
            }
        });

        //创建上传附件
        $(".attach-btn").click(function () {
            showAttachDialog();
        });
    });

    //初始化附件窗口
    function showAttachDialog(obj) {
        var objNum = arguments.length;
        var attachDialog = top.dialog({
            id: 'attachDialogId',
            title: "上传附件",
            url: '{{:U("UploadJson/dialog_attach")}}',
            width: 500,
            height: 180,
            onclose: function () {
                var liHtml = this.returnValue; //获取返回值
                if (liHtml.length > 0) {
                    $("#showAttachList").children("ul").append(liHtml);
                }
            }
        }).showModal();
        //如果是修改状态，将对象传进去
        if (objNum == 1) {
            attachDialog.data = obj;
        }
    }
    //删除附件节点
    function delAttachNode(obj) {
        $(obj).parent().remove();
    }
</script>
</head>

<body class="mainbody">
<form method="post" action="__URL__/article_save/channel_id/{{$channelid}}/id/{{$eid}}" id="form1">
<input type="hidden" name="viewtype" value="{{$viewtype}}" />
<!--导航栏-->
<div class="location">
  <a href="__URL__/article_list/channel_id/{{$channelid}}" class="back"><i></i><span>返回列表页</span></a>
  <a href="" class="home"><i></i><span>首页</span></a>
  <i class="arrow"></i>
  <a href="__URL__/article_list/channel_id/{{$channelid}}"><span>内容管理</span></a>
  <i class="arrow"></i>
  <span>新增内容</span>
</div>
<div class="line10"></div>
<!--/导航栏-->

<!--内容-->
<div id="floatHead" class="content-tab-wrap">
  <div class="content-tab">
    <div class="content-tab-ul-wrap">
      <ul>
        <li><a class="selected" href="javascript:;">基本信息</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">
  <!-- <dl>
    <dt>所属类别</dt>
    <dd>
      <div class="rule-single-select">
        <select name="ddlCategoryId" id="ddlCategoryId" datatype="*" sucmsg=" ">
	<option value="">请选择类别...</option>
	<volist name="categorydata" id="vo">
		<option value="{{$vo['id']}}">{{$vo['befor']}}{{$vo['title']}}</option>
	</volist>
</select>
      </div>
    </dd>
  </dl> -->
  
  <notempty name="categorydata">
	  <dl>
	        <dt>所属类别</dt>
	        <dd>
	        	<foreach name="categorydata" item="vo" key="k">
	        		<div class="rule-multi-porp multi-porps">
	        			<volist name="vo" id="v">
			                <span >
			                        <input id="ddlCategoryId_{{$v['title']}}" {{$eid|getChoseCategory=$v['id'],###,3}}  type="checkbox" name="ddlCategoryId[]" value="{{$v['id']}}" />
			                        <label for="ddlCategoryId_{{$v['title']}}">{{$v['title']}}</label>
			                </span>
	        			</volist>
	        		</div>
	        	</foreach>
	        </dd>
	    </dl>
  </notempty>
 
   <if condition="$extcoum neq ''">
		{{$extcoum}}
	</if>
  
  
  
  <if condition="$channeldata['is_albums'] eq '1'">
	  <dl id="div_albums_container">
	    <dt>图片相册</dt>
	    <dd>
	      <div class="upload-box upload-album"></div>
	      <input name="hidFocusPhoto" type="hidden" id="hidFocusPhoto" class="focus-photo" />
	      <div class="photo-list">
	        <ul>
	        	<volist name="albums" id="pic">
			          <li>
						<input type="hidden" value="{{$pic['id']}}|{{$pic['original_path']}}|{{$pic['thumb_path']}}" name="hid_photo_name[]">
						<input type="hidden" value="{{$pic['remark']}}" name="hid_photo_remark[]">
						<div class="img-box" onclick="setFocusImg(this);">
						<img bigsrc="{{$pic['original_path']}}" src="__ROOT__{{$pic['thumb_path']}}">
						<span class="remark">
						<i>{{$pic['remark']}}</i>
						</span>
						</div>
						<a onclick="setRemark(this);" href="javascript:;">描述</a>
						<a onclick="delImg(this);" href="javascript:;">删除</a>
					  </li>
	        	</volist>
		          <!-- <li>
					<input type="hidden" value="98|/upload/201606/27/201606271736493250.jpg|/upload/201606/27/201606271736493250.jpg" name="hid_photo_name">
					<input type="hidden" value="123" name="hid_photo_remark">
					<div class="img-box" onclick="setFocusImg(this);">
					<img bigsrc="/upload/201606/27/201606271736493250.jpg" src="/upload/201606/27/201606271736493250.jpg">
					<span class="remark">
					<i>123</i>
					</span>
					</div>
					<a onclick="setRemark(this);" href="javascript:;">描述</a>
					<a onclick="delImg(this);" href="javascript:;">删除</a>
				  </li> -->
	        </ul>
	      </div>
	    </dd>
	  </dl>
  </if>
  
  <if condition="$channeldata['is_attach'] eq '1'">
	  <dl id="div_attach_container">
	    <dt>上传附件</dt>
	    <dd>
	      <a class="icon-btn add attach-btn"><span>添加附件</span></a>
	      <div id="showAttachList" class="attach-list">
	        <ul>
	        	<volist name="attachs" id="v">
		          	<li>
						<input type="hidden" value="{{$v['id']}}" name="hid_attach_id[]">
						<input type="hidden" value="{{$v['file_name']}}" name="hid_attach_filename[]">
						<input type="hidden" value="{{$v['file_path']}}" name="hid_attach_filepath[]">
						<input type="hidden" value="{{$v['file_size']}}" name="hid_attach_filesize[]">
						<i class="icon"></i>
						<a class="del" title="删除附件" onclick="delAttachNode(this);" href="javascript:;"></a>
						<a class="edit" title="更新附件" onclick="showAttachDialog(this);" href="javascript:;"></a>
						<div class="title">{{$v['file_name']}}</div>
						<div class="info">
						类型：
						<span class="ext">{{$v['file_ext']}}</span>
						大小：
						<span class="size">{{$v['file_size']}}KB</span>
						下载：
						<span class="down">{{$v['down_num']}}</span>
						次
						</div>
						<div class="btns">
						下载积分：
						<input type="text" value="{{$v['point']}}" onkeydown="return checkNumber(event);" name="txt_attach_point[]">
						</div>
					</li>
	        	</volist>
	          	<!-- <li>
					<input type="hidden" value="1" name="hid_attach_id">
					<input type="hidden" value="downicon.rar" name="hid_attach_filename">
					<input type="hidden" value="/upload/201606/27/201606271737413875.rar" name="hid_attach_filepath">
					<input type="hidden" value="15" name="hid_attach_filesize">
					<i class="icon"></i>
					<a class="del" title="删除附件" onclick="delAttachNode(this);" href="javascript:;"></a>
					<a class="edit" title="更新附件" onclick="showAttachDialog(this);" href="javascript:;"></a>
					<div class="title">downicon.rar</div>
					<div class="info">
					类型：
					<span class="ext">rar</span>
					大小：
					<span class="size">15KB</span>
					下载：
					<span class="down">0</span>
					次
					</div>
					<div class="btns">
					下载积分：
					<input type="text" value="0" onkeydown="return checkNumber(event);" name="txt_attach_point">
					</div>
				</li> -->
	        </ul>
	      </div>
	    </dd>
	  </dl>
  </if>
  
  
</div>

<!--/内容-->
<!--工具栏-->
<div class="page-footer">
  <div class="btn-wrap">
    <input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btn" />
    <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
  </div>
</div>
<!--/工具栏-->

</form>
</body>
</html>