

<div class="login-reg-wrap">
  <div class="login-reg-box">
    <div class="ts-info">密码重置</div>
    <div class="step-list">
     <ul>
        <li class="cur"><span>1</span>安全验证</li>
        <li class="gap"><span>2</span>重置密码</li>
        <li><span>3</span>重置成功</li>
     </ul>
    </div> 
<div class="import-box">
  <div class="each-input1"> <span class="name">手机号：</span>
    <div class="other">
      <input type="text" class="input" id="phone">
    </div>
  </div>
  <div class="each-input1"> <span class="name">验证码：</span>
    <div class="other">
      <input type="text" class="input yzm" id="verifyCode">

     <button   id="btnSendCode" onclick="sendVerifyCode()">发送验证码</button> 
     
    </div>
  </div>
  <div class="each-input1">
   <button class="send-btn" onclick="findPwd()">提交</button>

  </div>
</div>
  
  </div>
</div>

<script type="text/javascript">
   var InterValObj; //timer变量，控制时间
   var count = 200; //间隔函数，1秒执行
   var curCount;//当前剩余秒数


  function sendVerifyCode(){


    var phone = $('#phone').val();
    var verifyCode  = $("#verifyCode").val();
    if(phone==""){layer.tips('手机号不能为空', '#phone');return false}
    //验证手机号码格式
    var pattern = /^1[34578]\d{9}$/; 
    if(!pattern.test(phone)){layer.tips("手机号码格式不正确", '#phone');return false;}
    $.post("{{:U('Home/Users/sendMsg')}}", {"phone":phone,"templateId":31120,"type":"findPwd"}, function(data){
      if(data.status==1){
          curCount = count;
          $("#btnSendCode").attr("disabled", "true");
          $("#btnSendCode").html(curCount + "秒后可重发验证码");
          InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
        
      }else if(data.status==-1){
        //手机验证码发送失败
         layer.tips(data.message, '#verifyCode', {
             tips: [1, '#F90'],
             time: 1000
         });
      }else if(data.status==-2){
        //手机号码校验失败
         layer.tips(data.message, '#phone', {
             tips: [1, '#F90'],
             time: 1000
         });
      }
    })
  }

  //timer处理函数
  function SetRemainTime() {
      if (curCount == 0) {                
          window.clearInterval(InterValObj);//停止计时器
          $("#btnSendCode").removeAttr("disabled");//启用按钮
          $("#btnSendCode").html("重新发送验证码");
      }
      else {
          curCount--;
          $("#btnSendCode").html(curCount + "秒后可重发验证码");
      }
  }

  function findPwd(){
    var phone = $('#phone').val();
    var verifyCode  = $("#verifyCode").val();
    if(phone==""){layer.tips('手机号不能为空', '#phone');return false}
    //验证手机号码格式
    var pattern = /^1[34578]\d{9}$/; 
    if(!pattern.test(phone)){layer.tips("手机号码格式不正确", '#phone');return false;}

    $.post("{{:U('Home/Users/forgetPassword')}}",{"phone":phone,"verifyCode":verifyCode},function(data) {
       
        if(data.status==1){
            //location.href="{{:U('Users/resetPassword')}}";
        }else if(data.status==-1){
           layer.tips(data.message, '#verifyCode', {
               tips: [1, '#F90'],
               time: 1000
           });
        }else if(data.status==-2){
           layer.tips(data.message, '#phone', {
               tips: [1, '#F90'],
               time: 1000
           });
        }
    });


  }

</script>



