
	<div class="main clearfix">
		<include file="Public/left" />
		<div class="main-right">
			<div class="right-top">
				<div class="top-inner w740">
					<p class="top-text">您共收到 <span class="orange">122</span> 条站内信 ( <span class="orange">10</span> 条未读 )</p>
					<div class="search-inp">
						<input type="text" placeholder="搜索站内信"><a href="#"></a>
					</div>
				</div>
			</div>
			<div class="right-inner w740">
				<p class="message-p1">全部站内信 > 关于 “<span class="orange">孩子</span>” 的搜索结果</p>
				<div class="message-list">
					<ul>
						<li class="clearfix">
							<div class="mess-left">
								<span class="read-no"><i></i>未读</span>
							</div>
							<div class="mess-right">
								<div class="mess-con clearfix">
									<p class="mess-title">消息标题：《夏洛特的网》是一本好书.在我们生活里有一种宝贵的财富叫友谊</p>
									<span class="mess-date">日期：2015-02-04</span>
									<span class="mess-view"><a href="javascript:;">查看</a> / <a href="javascript:;">删除</a></span>
								</div>
								<div class="mess-text">《夏洛特的网》是一本好书.在我们生活里有一种宝贵的财富叫友谊,它是用金钱买不到的.要是我们的人生里没有朋友,没有友谊,你将会是多么孤独呀!但是威尔伯的一生却是那么幸福.因为它有一个成天陪伴它,而且为了救他牺牲自己生命的朋友.威尔伯注定不会孤单《夏洛特的网》是一本好书.在我们生活里有一种宝贵的财富叫友谊,它是用金钱买不到的.要是我们的人生里没有朋友,没有友谊,你将会是多么孤独呀!但是威尔伯的一生却是那么幸福.因为它有一个成天陪伴它,而且为了救他牺牲自己生命的朋友.威尔伯注定不会孤单《夏洛特的网》是一本好书.在我们生活里有一种宝贵的财富叫友谊,它是用金钱买不到的.要是我们的人生里没有朋友,没有友谊,你将会是多么孤独呀!但是威尔伯的一生却是那么幸福.因为它有一个成天陪伴它,而且为了救他牺牲自己生命的朋友.威尔伯注定不会孤单</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="mess-left">
								<span class="read-yes"><i></i>已读</span>
							</div>
							<div class="mess-right">
								<div class="mess-con">
									<p class="mess-title">消息标题：《夏洛特的网》是一本好书.在我们生活里有一种宝贵的财富叫友谊</p>
									<span class="mess-date">日期：2015-02-04</span>
									<span class="mess-view"><a href="javascript:;">查看</a> / <a href="javascript:;">删除</a></span>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="mess-left">
								<span class="read-yes"><i></i>已读</span>
							</div>
							<div class="mess-right">
								<div class="mess-con">
									<p class="mess-title">消息标题：《夏洛特的网》是一本好书.在我们生活里有一种宝贵的财富叫友谊</p>
									<span class="mess-date">日期：2015-02-04</span>
									<span class="mess-view"><a href="javascript:;">查看</a> / <a href="javascript:;">删除</a></span>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="mess-left">
								<span class="read-yes"><i></i>已读</span>
							</div>
							<div class="mess-right">
								<div class="mess-con">
									<p class="mess-title">消息标题：《夏洛特的网》是一本好书.在我们生活里有一种宝贵的财富叫友谊</p>
									<span class="mess-date">日期：2015-02-04</span>
									<span class="mess-view"><a href="javascript:;">查看</a> / <a href="javascript:;">删除</a></span>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="mess-left">
								<span class="read-yes"><i></i>已读</span>
							</div>
							<div class="mess-right">
								<div class="mess-con">
									<p class="mess-title">消息标题：《夏洛特的网》是一本好书.在我们生活里有一种宝贵的财富叫友谊</p>
									<span class="mess-date">日期：2015-02-04</span>
									<span class="mess-view"><a href="javascript:;">查看</a> / <a href="javascript:;">删除</a></span>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="mess-left">
								<span class="read-yes"><i></i>已读</span>
							</div>
							<div class="mess-right">
								<div class="mess-con">
									<p class="mess-title">消息标题：《夏洛特的网》是一本好书.在我们生活里有一种宝贵的财富叫友谊</p>
									<span class="mess-date">日期：2015-02-04</span>
									<span class="mess-view"><a href="javascript:;">查看</a> / <a href="javascript:;">删除</a></span>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="page">
					<span class="prev"></span>
					<a href="#" class="cur">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">..</a>
					<a href="#">99</a>
					<a href="#">100</a>
					<span class="next"></span>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
	/**左侧导航**/
	$('.personal ul li').removeClass('cur-li');
	$('.personal08').addClass('cur-li');
</script>