
	<div class="main clearfix">
		<include file="Public/left" />
		<div class="main-right">
			<div class="right-top">
				<div class="per-top w740">
					<a href="{{:U('Users/myFollow')}}" class="per-span cur-per">@我关注的</a>
					<a href="{{:U('Users/followMe')}}" class="per-span">@关注我的</a>
					<div class="search-inp friend-s">
						<input type="text" placeholder="搜索用户名"><a href="#"></a>
					</div>
				</div>
			</div>
			<div class="right-inner w740">
				<div class="friend-top">我关注的全部好友：<span class="orange">145人</span></div>
				<div class="friend-list">
					<ul>
						<li class="clearfix">
							<div class="friend-left"><img src="images/friend01.png" alt=""><i class="ren-icon"></i></div>
							<div class="friend-mid">
								<a href="#">既然不末日了那么就旅行吧阿鲁<i class="girl"></i></a>
								<p class="p8"><span>关注：220</span><span>被关注：220</span></p>
								<p>收藏书单：110</p>
							</div>
							<div class="friend-right">更多<i></i>
								<div class="more-down">
									<a href="#">去看TA</a>
									<a href="#">取消关注</a>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="friend-left"><img src="images/friend01.png" alt=""></div>
							<div class="friend-mid">
								<a href="#">既然不末日了那么就旅行吧阿鲁<i class="boy"></i></a>
								<p class="p8"><span>关注：220</span><span>被关注：220</span></p>
								<p>收藏书单：110</p>
							</div>
							<div class="friend-right">更多<i></i>
								<div class="more-down">
									<a href="#">去看TA</a>
									<a href="#">取消关注</a>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="friend-left"><img src="images/friend01.png" alt=""><i class="ren-icon"></i></div>
							<div class="friend-mid">
								<a href="#">既然不末日了那么就旅行吧阿鲁<i class="girl"></i></a>
								<p class="p8"><span>关注：220</span><span>被关注：220</span></p>
								<p>收藏书单：110</p>
							</div>
							<div class="friend-right">更多<i></i>
								<div class="more-down">
									<a href="#">去看TA</a>
									<a href="#">取消关注</a>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="friend-left"><img src="images/friend01.png" alt=""></div>
							<div class="friend-mid">
								<a href="#">既然不末日了那么就旅行吧阿鲁<i class="boy"></i></a>
								<p class="p8"><span>关注：220</span><span>被关注：220</span></p>
								<p>收藏书单：110</p>
							</div>
							<div class="friend-right">更多<i></i>
								<div class="more-down">
									<a href="#">去看TA</a>
									<a href="#">取消关注</a>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="friend-left"><img src="images/friend01.png" alt=""><i class="ren-icon"></i></div>
							<div class="friend-mid">
								<a href="#">既然不末日了那么就旅行吧阿鲁<i class="girl"></i></a>
								<p class="p8"><span>关注：220</span><span>被关注：220</span></p>
								<p>收藏书单：110</p>
							</div>
							<div class="friend-right">更多<i></i>
								<div class="more-down">
									<a href="#">去看TA</a>
									<a href="#">取消关注</a>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="friend-left"><img src="images/friend01.png" alt=""></div>
							<div class="friend-mid">
								<a href="#">既然不末日了那么就旅行吧阿鲁<i class="boy"></i></a>
								<p class="p8"><span>关注：220</span><span>被关注：220</span></p>
								<p>收藏书单：110</p>
							</div>
							<div class="friend-right">更多<i></i>
								<div class="more-down">
									<a href="#">去看TA</a>
									<a href="#">取消关注</a>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="friend-left"><img src="images/friend01.png" alt=""><i class="ren-icon"></i></div>
							<div class="friend-mid">
								<a href="#">既然不末日了那么就旅行吧阿鲁<i class="girl"></i></a>
								<p class="p8"><span>关注：220</span><span>被关注：220</span></p>
								<p>收藏书单：110</p>
							</div>
							<div class="friend-right">更多<i></i>
								<div class="more-down">
									<a href="#">去看TA</a>
									<a href="#">取消关注</a>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="friend-left"><img src="images/friend01.png" alt=""></div>
							<div class="friend-mid">
								<a href="#">既然不末日了那么就旅行吧阿鲁<i class="boy"></i></a>
								<p class="p8"><span>关注：220</span><span>被关注：220</span></p>
								<p>收藏书单：110</p>
							</div>
							<div class="friend-right">更多<i></i>
								<div class="more-down">
									<a href="#">去看TA</a>
									<a href="#">取消关注</a>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="friend-left"><img src="images/friend01.png" alt=""><i class="ren-icon"></i></div>
							<div class="friend-mid">
								<a href="#">既然不末日了那么就旅行吧阿鲁<i class="girl"></i></a>
								<p class="p8"><span>关注：220</span><span>被关注：220</span></p>
								<p>收藏书单：110</p>
							</div>
							<div class="friend-right">更多<i></i>
								<div class="more-down">
									<a href="#">去看TA</a>
									<a href="#">取消关注</a>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="friend-left"><img src="images/friend01.png" alt=""></div>
							<div class="friend-mid">
								<a href="#">既然不末日了那么就旅行吧阿鲁<i class="boy"></i></a>
								<p class="p8"><span>关注：220</span><span>被关注：220</span></p>
								<p>收藏书单：110</p>
							</div>
							<div class="friend-right">更多<i></i>
								<div class="more-down">
									<a href="#">去看TA</a>
									<a href="#">取消关注</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="page">
					<span class="prev"></span>
					<a href="#" class="cur">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">..</a>
					<a href="#">99</a>
					<a href="#">100</a>
					<span class="next"></span>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
	/**左侧导航**/
	$('.personal ul li').removeClass('cur-li');
	$('.personal03').addClass('cur-li');
</script>