
	<div class="main clearfix">
		<include file="Public/left" />
		<div class="main-right">
			<div class="right-inner w850">
				<div class="xxzl">
					<h5 class="per-h5">详细资料</h5>
					<p>公司名称：{{$user.press}}</p>
					<p>负责人：{{$user.name}}</p>
					<p>注册年月：{{$user.reg_time}}</p>
					<p>公司地址：{{$user.address}}</p>
					<a href="{{:U('Users/pressInfo')}}" class="xxzl-a1">去完善资料 >></a>
				</div>
				<div class="zzsd">
					<h5 class="per-h5">我制作的书单<i class="prev01"></i><i class="next01"></i></h5>
					<div class="zzsd-inner clearfix">
						<ul>
							<li>
								<div class="zzsd-shadow">
									<div class="zzsd-pic">
										<img src="__PUBLIC__/Home/images/book01.jpg" alt="">
										<div class="book-mask">
											<a href="#" class="view01"></a>
										</div>
									</div>
								</div>
								<p>幸福的含义 （1-2年级1）</p>
							</li>
							<li>
								<div class="zzsd-shadow">
									<div class="zzsd-pic">
										<img src="__PUBLIC__/Home/images/book01.jpg" alt="">
										<div class="book-mask">
											<a href="#" class="view01"></a>
										</div>
									</div>
								</div>
								<p>幸福的含义 （1-2年级2）</p>
							</li>
							<li>
								<div class="zzsd-shadow">
									<div class="zzsd-pic">
										<img src="__PUBLIC__/Home/images/book01.jpg" alt="">
										<div class="book-mask">
											<a href="#" class="view01"></a>
										</div>
									</div>
								</div>
								<p>幸福的含义 （1-2年级3）</p>
							</li>
							<li>
								<div class="zzsd-shadow">
									<div class="zzsd-pic">
										<img src="__PUBLIC__/Home/images/book01.jpg" alt="">
										<div class="book-mask">
											<a href="#" class="view01"></a>
										</div>
									</div>
								</div>
								<p>幸福的含义 （1-2年级4）</p>
							</li>
							<li>
								<div class="zzsd-shadow">
									<div class="zzsd-pic">
										<img src="__PUBLIC__/Home/images/book01.jpg" alt="">
										<div class="book-mask">
											<a href="#" class="view01"></a>
										</div>
									</div>
								</div>
								<p>幸福的含义 （1-2年级5）</p>
							</li>
							<li>
								<div class="zzsd-shadow">
									<div class="zzsd-pic">
										<img src="__PUBLIC__/Home/images/book01.jpg" alt="">
										<div class="book-mask">
											<a href="#" class="view01"></a>
										</div>
									</div>
								</div>
								<p>幸福的含义 （1-2年级6）</p>
							</li>
						</ul>
					</div>
					<a href="#" class="xxzl-a1">去制作书单 >></a>
				</div>
				<div class="zzsd scsd">
					<h5 class="per-h5">我上传的图书<i class="prev01"></i><i class="next01"></i></h5>
					<div class="zzsd-inner clearfix">
						<ul>
							<li>
								<div class="zzsd-shadow">
									<div class="zzsd-pic">
										<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
										<div class="book-mask">
											<a href="#" class="view01"></a>
										</div>
									</div>
								</div>
								<p>幸福的含义 （1-2年级）</p>
							</li>
							<li>
								<div class="zzsd-shadow">
									<div class="zzsd-pic">
										<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
										<div class="book-mask">
											<a href="#" class="view01"></a>
										</div>
									</div>
								</div>
								<p>幸福的含义 （1-2年级）</p>
							</li>
							<li>
								<div class="zzsd-shadow">
									<div class="zzsd-pic">
										<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
										<div class="book-mask">
											<a href="#" class="view01"></a>
										</div>
									</div>
								</div>
								<p>幸福的含义 （1-2年级）</p>
							</li>
							<li>
								<div class="zzsd-shadow">
									<div class="zzsd-pic">
										<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
										<div class="book-mask">
											<a href="#" class="view01"></a>
										</div>
									</div>
								</div>
								<p>幸福的含义 （1-2年级）</p>
							</li>
							<li>
								<div class="zzsd-shadow">
									<div class="zzsd-pic">
										<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
										<div class="book-mask">
											<a href="#" class="view01"></a>
										</div>
									</div>
								</div>
								<p>幸福的含义 （1-2年级）</p>
							</li>
							<li>
								<div class="zzsd-shadow">
									<div class="zzsd-pic">
										<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
										<div class="book-mask">
											<a href="#" class="view01"></a>
										</div>
									</div>
								</div>
								<p>幸福的含义 （1-2年级）</p>
							</li>
						</ul>
					</div>
					<a href="#" class="xxzl-a1">去上传图书 >></a>
				</div>
				<div class="zjlf">
					<h5 class="per-h5">最近来访</h5>
					<div class="zjlf-inner clearfix">
						<ul>
							<li>
								<a href="#">
									<div class="zjlf-pic">
										<img src="__PUBLIC__/Home/images/head02.jpg" alt="">
										<i class="ren-icon"></i>
									</div>
									<span class="zjlf-span1">summer</span>
									<span class="zjlf-span2">8小时前</span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="zjlf-pic"><img src="__PUBLIC__/Home/images/friend01.png" alt=""></div>
									<span class="zjlf-span1">summer</span>
									<span class="zjlf-span2">8小时前</span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="zjlf-pic"><img src="__PUBLIC__/Home/images/friend01.png" alt=""></div>
									<span class="zjlf-span1">summer</span>
									<span class="zjlf-span2">8小时前</span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="zjlf-pic"><img src="__PUBLIC__/Home/images/friend01.png" alt=""></div>
									<span class="zjlf-span1">summer</span>
									<span class="zjlf-span2">8小时前</span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="zjlf-pic"><img src="__PUBLIC__/Home/images/friend01.png" alt=""></div>
									<span class="zjlf-span1">summer</span>
									<span class="zjlf-span2">8小时前</span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="zjlf-pic"><img src="__PUBLIC__/Home/images/friend01.png" alt=""></div>
									<span class="zjlf-span1">summer</span>
									<span class="zjlf-span2">8小时前</span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="zjlf-pic"><img src="__PUBLIC__/Home/images/friend01.png" alt=""></div>
									<span class="zjlf-span1">summer</span>
									<span class="zjlf-span2">8小时前</span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="zjlf-pic"><img src="__PUBLIC__/Home/images/friend01.png" alt=""></div>
									<span class="zjlf-span1">summer</span>
									<span class="zjlf-span2">8小时前</span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="zjlf-pic"><img src="__PUBLIC__/Home/images/friend01.png" alt=""></div>
									<span class="zjlf-span1">summer</span>
									<span class="zjlf-span2">8小时前</span>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="zjlf-pic"><img src="__PUBLIC__/Home/images/friend01.png" alt=""></div>
									<span class="zjlf-span1">summer</span>
									<span class="zjlf-span2">8小时前</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
