

<div class="login-reg-wrap">
  <div class="login-reg-box">
    <div class="ts-info">密码重置</div>
    <div class="step-list">
      <ul>
        <li class="cur"><span>1</span>安全验证</li>
        <li class="gap cur"><span>2</span>重置密码</li>
        <li class="cur"><span>3</span>重置成功</li>
      </ul>
    </div>
    <div class="import-box">
      <div class="reg-successful-info">
        <p class="info1">恭喜，您的密码重置成功 !</p>
        <a href="{{:U('Users/userLogin')}}" class="btn">前往登录</a> </div>
    </div>
  </div>
</div>
</div>

