

<div class="login-reg-wrap">
  <div class="login-reg-box">
    <div class="ts-info">密码重置</div>
    <div class="step-list">
     <ul>
        <li class="cur"><span>1</span>安全验证</li>
        <li class="gap cur"><span>2</span>重置密码</li>
        <li><span>3</span>重置成功</li>
     </ul>
    </div> 
<div class="import-box">
  <div class="each-input1"> <span class="name">新的密码：</span>
    <div class="other">
      <input type="text" class="input" id="new-password">
    </div>

  </div>
  <div class="each-input1"> <span class="name">确认密码：</span>
    <div class="other"><input type="text" class="input" id="confirm-password"></div>
  </div>
  <div class="each-input1">
   <button class="send-btn" onclick="resetPassword()">下一步</button>
  </div>
</div>
  </div>
</div>
</div>
<script type="text/javascript">
  function resetPassword(){
    var newPassword = $("#new-password").val();
    var confirmPassword = $("#confirm-password").val();
    if(newPassword==""){layer.tips("密码不能为空","#new-password");return false;}
    if(confirmPassword==""){layer.tips("确认密码不能为空","#confirm-password");return false;}
    if(newPassword!==confirmPassword){layer.tips("两次密码不一致","#confirm-password");return false;}
    $.post("{{:U('Users/resetPassword')}}", {newPassword:newPassword,confirmPassword:confirmPassword}, function(data){
      console.log("sss");
      if(data.status==1){location.href="{{:U('Users/resetSuccess')}}";}
      if(data.status==-1){layer.tips(data.message,"#new-password");return false;}
      if(data.status==-2){layer.tips(data.message,"#confirm-password");return false;}
      if(data.status==-3){layer.msg(data.message,{icon:5});}

    })
  }

</script>

