
  
  <div class="content">
    <div class="main gap clearfix">
      <div class="blog-left">
        <div class="column-name">[ 新闻BLOG ]</div>
        <div class="each-tab-nav">
          <h3 class="tab-name s-1 cur">奖项</h3>
          <ul>
            <li><a href="#">文学</a></li>
            <li><a href="#">励志</a></li>
          </ul>
        </div>
        <div class="each-tab-nav">
          <h3 class="tab-name s-2">论坛</h3>
          <ul>
            <li><a href="#">文学</a></li>
            <li><a href="#">励志</a></li>
            <li><a href="#">文学</a></li>
            <li><a href="#">励志</a></li>
          </ul>
        </div>
        <div class="each-tab-nav">
          <h3 class="tab-name s-3">新闻</h3>
          <ul>
            <li><a href="#">文学</a></li>
            <li><a href="#">励志</a></li>
            <li><a href="#">文学</a></li>
            <li><a href="#">励志</a></li>
            <li><a href="#">文学</a></li>
            <li><a href="#">励志</a></li>
          </ul>
        </div>
      </div>
      <!--  新闻blog左侧结束    -->
      <div class="blog-right">
        <div class="awards-wrap">
          <div class="focus prev"></div>
          <div class="focus next"></div>
          <div class="awards-list">
            <ul>
              <li>
                <div class="pic"><img src="__PUBLIC__/Home/images2/upload/awards-icon.png"></div>
                <p>1安徒生奖项</p>
              </li>
              <li>
                <div class="pic"><img src="__PUBLIC__/Home/images2/upload/awards-icon.png"></div>
                <p>2安徒生奖项</p>
              </li>
              <li>
                <div class="pic"><img src="__PUBLIC__/Home/images2/upload/awards-icon.png"></div>
                <p>3安徒生奖项</p>
              </li>
              <li>
                <div class="pic"><img src="__PUBLIC__/Home/images2/upload/awards-icon.png"></div>
                <p>4安徒生奖项</p>
              </li>
              <li>
                <div class="pic"><img src="__PUBLIC__/Home/images2/upload/awards-icon.png"></div>
                <p>5安徒生奖项</p>
              </li>
              <li>
                <div class="pic"><img src="__PUBLIC__/Home/images2/upload/awards-icon.png"></div>
                <p>6安徒生奖项</p>
              </li>
              <li>
                <div class="pic"><img src="__PUBLIC__/Home/images2/upload/awards-icon.png"></div>
                <p>7安徒生奖项</p>
              </li>
              <li>
                <div class="pic"><img src="__PUBLIC__/Home/images2/upload/awards-icon.png"></div>
                <p>8安徒生奖项</p>
              </li>
            </ul>
          </div>
        </div>
        <!--获奖列表-->
        <div class="awards-title-name">奖项简介</div>
        <div class="awards-txt">
          <p class="text-info">国际安徒生奖（Hans Christian Andersen Award）由国际少年儿童读物联盟于1956年设立，由丹麦女王玛格丽特二世赞助，以童话大师安徒生的名字命名。
            该奖每两年评选一次，以奖励世界范围内优秀的儿童图书作家和插图画家。获奖者将被授予一枚金质奖章和一张奖状。最初只授予在世的作家，从1965年起，也授予优秀的插图画家。
            获奖者限于长期从事青少年读物的创作并作出卓越贡献者。至目前为止有26作家和20位插图画家获奖（国际安徒生奖获奖作家名录）。至今尚未有中国作家获奖，但曾有中国作家和画家孙幼军/裘兆明（1990）、金波/杨永青（1992）、秦文君/吴带生（2002）、曹文轩/王晓明（2004）、张之路/陶文杰（2006）获得过该奖项的提名。</p>
        </div>
        <div class="awards-title-name">历年获奖者</div>
        <div class="awards-txt">
          <table class="awards-list-tb">
            <tr>
              <th class="th1">得奖年代</th>
              <th class="th2">得奖作者</th>
              <th class="th3">得奖者作品</th>
            </tr>
            <tr>
              <td>1956</td>
              <td>依列娜· 法吉恩（英）</td>
              <td>《捷克年》、《皇帝的夜莺》、《巴亚雅王子》、《好兵帅克》、《仲夏夜之梦》、《手》、《好兵帅克》</td>
            </tr>
            <tr>
              <td>1956</td>
              <td>依列娜· 法吉恩（英） 依列娜· 法吉恩（ 依列娜· 法吉恩（ 依列娜· 法吉恩（ 依列娜· 法吉恩（ 依列娜· 法吉恩（</td>
              <td>《捷克年》、《皇帝的夜莺》、《巴亚雅王子》、《好兵帅克》、《仲夏夜之梦》、《手》、《好兵帅克》</td>
            </tr>
            <tr>
              <td>1956</td>
              <td>依列娜· 法吉恩（英）</td>
              <td>《捷克年》、《皇帝的夜莺》、《巴亚雅王子》、《好兵帅克》、《仲夏夜之梦》、《手》、《好兵帅克》</td>
            </tr>
            <tr>
              <td>1956</td>
              <td>依列娜· 法吉恩（英）</td>
              <td>《捷克年》、《皇帝的夜莺》、《巴亚雅王子》、《好兵帅克》、《仲夏夜之梦》、《手》、《好兵帅克》</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

