
  
  <div class="content">
    <div class="main gap clearfix">
      <div class="blog-left">
        <div class="column-name">[ 新闻BLOG ]</div>
        <div class="each-tab-nav">
          <h3 class="tab-name s-1 cur">奖项</h3>
          <ul>
            <li><a href="#">文学</a></li>
            <li><a href="#">励志</a></li>
          </ul>
        </div>
        <div class="each-tab-nav">
          <h3 class="tab-name s-2">论坛</h3>
          <ul>
            <li><a href="#">文学</a></li>
            <li><a href="#">励志</a></li>
            <li><a href="#">文学</a></li>
            <li><a href="#">励志</a></li>
          </ul>
        </div>
        <div class="each-tab-nav">
          <h3 class="tab-name s-3">新闻</h3>
          <ul>
            <li><a href="#">文学</a></li>
            <li><a href="#">励志</a></li>
            <li><a href="#">文学</a></li>
            <li><a href="#">励志</a></li>
            <li><a href="#">文学</a></li>
            <li><a href="#">励志</a></li>
          </ul>
        </div>
      </div>
      <!--  新闻blog左侧结束    -->
      <div class="blog-right">
        <div class="forum-list clearfix">
          <ul>
            <li>
              <a href="#">
                <div class="forum-pic">
                  <img src="__PUBLIC__/Home/images2/upload/forum01.jpg" alt="">
                </div>
                <div class="forum-right">
                  <div class="study-text">
                    <span class="study-text-title">在世界读书日，跟着大师...</span>
                    <span class="study-text-date">2012.06.04</span>
                    <p class="study-p">在悠久的历史长河中，我们的先人留下了浩如烟海般的书籍，这其中蕴含了众多的大智慧，就让我们在学术大家的带领下，遨游于历史之中，去进一步深入领略国学的魅力。本期主题推荐书单即以“......慧——名家讲国学”为主题...</p>
                  </div>
                </div>
                <span class="forum-a"><img src="__PUBLIC__/Home/images2/forum02.png" alt=""></span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="forum-pic">
                  <img src="__PUBLIC__/Home/images2/upload/forum01.jpg" alt="">
                </div>
                <div class="forum-right">
                  <div class="study-text">
                    <span class="study-text-title">在世界读书日，跟着大师...</span>
                    <span class="study-text-date">2012.06.04</span>
                    <p class="study-p">在悠久的历史长河中，我们的先人留下了浩如烟海般的书籍，这其中蕴含了众多的大智慧，就让我们在学术大家的带领下，遨游于历史之中，去进一步深入领略国学的魅力。本期主题推荐书单即以“......慧——名家讲国学”为主题...</p>
                  </div>
                </div>
                <span class="forum-a"><img src="__PUBLIC__/Home/images2/forum02.png" alt=""></span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="forum-pic">
                  <img src="__PUBLIC__/Home/images2/upload/forum01.jpg" alt="">
                </div>
                <div class="forum-right">
                  <div class="study-text">
                    <span class="study-text-title">在世界读书日，跟着大师...</span>
                    <span class="study-text-date">2012.06.04</span>
                    <p class="study-p">在悠久的历史长河中，我们的先人留下了浩如烟海般的书籍，这其中蕴含了众多的大智慧，就让我们在学术大家的带领下，遨游于历史之中，去进一步深入领略国学的魅力。本期主题推荐书单即以“......慧——名家讲国学”为主题...</p>
                  </div>
                </div>
                <span class="forum-a"><img src="__PUBLIC__/Home/images2/forum02.png" alt=""></span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="forum-pic">
                  <img src="__PUBLIC__/Home/images2/upload/forum01.jpg" alt="">
                </div>
                <div class="forum-right">
                  <div class="study-text">
                    <span class="study-text-title">在世界读书日，跟着大师...</span>
                    <span class="study-text-date">2012.06.04</span>
                    <p class="study-p">在悠久的历史长河中，我们的先人留下了浩如烟海般的书籍，这其中蕴含了众多的大智慧，就让我们在学术大家的带领下，遨游于历史之中，去进一步深入领略国学的魅力。本期主题推荐书单即以“......慧——名家讲国学”为主题...</p>
                  </div>
                </div>
                <span class="forum-a"><img src="__PUBLIC__/Home/images2/forum02.png" alt=""></span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="forum-pic">
                  <img src="__PUBLIC__/Home/images2/upload/forum01.jpg" alt="">
                </div>
                <div class="forum-right">
                  <div class="study-text">
                    <span class="study-text-title">在世界读书日，跟着大师...</span>
                    <span class="study-text-date">2012.06.04</span>
                    <p class="study-p">在悠久的历史长河中，我们的先人留下了浩如烟海般的书籍，这其中蕴含了众多的大智慧，就让我们在学术大家的带领下，遨游于历史之中，去进一步深入领略国学的魅力。本期主题推荐书单即以“......慧——名家讲国学”为主题...</p>
                  </div>
                </div>
                <span class="forum-a"><img src="__PUBLIC__/Home/images2/forum02.png" alt=""></span>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="forum-pic">
                  <img src="__PUBLIC__/Home/images2/upload/forum01.jpg" alt="">
                </div>
                <div class="forum-right">
                  <div class="study-text">
                    <span class="study-text-title">在世界读书日，跟着大师...</span>
                    <span class="study-text-date">2012.06.04</span>
                    <p class="study-p">在悠久的历史长河中，我们的先人留下了浩如烟海般的书籍，这其中蕴含了众多的大智慧，就让我们在学术大家的带领下，遨游于历史之中，去进一步深入领略国学的魅力。本期主题推荐书单即以“......慧——名家讲国学”为主题...</p>
                  </div>
                </div>
                <span class="forum-a"><img src="__PUBLIC__/Home/images2/forum02.png" alt=""></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="page">
            <span class="prev"></span>
            <a href="#" class="cur">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">..</a>
            <a href="#">99</a>
            <a href="#">100</a>
            <span class="next"></span>
          </div>
      </div>
    </div>
  </div>
</div>

