
	<div class="main clearfix">
		<include file="Public/left" />
		<div class="main-right">
			<div class="right-top">
				<div class="per-top w850">
					<a href="{{:U('Collect/collectSd')}}" class="per-span">收藏的书单</a>
					<a href="{{:U('Collect/collectBook')}}" class="per-span cur-per">收藏的图书</a>
					<div class="search-inp friend-s">
						<input type="text" placeholder="输入关键词进行搜索"><a href="#"></a>
					</div>
				</div>
			</div>
			<div class="right-inner w850">
				<div class="collect-top clearfix">
					<div class="coll-sort">
						<ul>
							<li><a href="#">全部</a></li>
							<li><a href="#">6-7岁阅读</a></li>
							<li><a href="#">8-9岁阅读</a></li>
							<li><a href="#">9-10岁阅读</a></li>
							<li><a href="#" class="border-none">10-12岁阅读</a></li>
						</ul>
					</div>
					<div class="collect-change">
						<span class="coll-left"></span>
						<span class="coll-right"></span>
					</div>
					<a href="#" class="collect-empty"><img src="__PUBLIC__/Home/images/icon/collect01.png" alt="">一键清空所有</a>
				</div>
				<div class="collect-list clearfix">
					<ul>
						<li>
							<div class="book-pic">
								<div>
									<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
									<div class="book-mask">
										<span class="book-view">
											<a href="#">查看图书</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
										</span>
									</div>
								</div>
								<a href="#" class="book-remove"></a>
							</div>
							<div class="book-text">
								<p class="book01">汉字练习/儿童启蒙天天练</p>
								<p>作者：余华</p>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<div>
									<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
									<div class="book-mask">
										<span class="book-view">
											<a href="#">查看图书</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
										</span>
									</div>
								</div>
								<a href="#" class="book-remove"></a>
							</div>
							<div class="book-text">
								<p class="book01">汉字练习/儿童启蒙天天练</p>
								<p>作者：余华</p>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<div>
									<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
									<div class="book-mask">
										<span class="book-view">
											<a href="#">查看图书</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
										</span>
									</div>
								</div>
								<a href="#" class="book-remove"></a>
							</div>
							<div class="book-text">
								<p class="book01">汉字练习/儿童启蒙天天练</p>
								<p>作者：余华</p>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<div>
									<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
									<div class="book-mask">
										<span class="book-view">
											<a href="#">查看图书</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
										</span>
									</div>
								</div>
								<a href="#" class="book-remove"></a>
							</div>
							<div class="book-text">
								<p class="book01">汉字练习/儿童启蒙天天练</p>
								<p>作者：余华</p>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<div>
									<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
									<div class="book-mask">
										<span class="book-view">
											<a href="#">查看图书</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
										</span>
									</div>
								</div>
								<a href="#" class="book-remove"></a>
							</div>
							<div class="book-text">
								<p class="book01">汉字练习/儿童启蒙天天练</p>
								<p>作者：余华</p>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<div>
									<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
									<div class="book-mask">
										<span class="book-view">
											<a href="#">查看图书</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
										</span>
									</div>
								</div>
								<a href="#" class="book-remove"></a>
							</div>
							<div class="book-text">
								<p class="book01">汉字练习/儿童启蒙天天练</p>
								<p>作者：余华</p>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<div>
									<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
									<div class="book-mask">
										<span class="book-view">
											<a href="#">查看图书</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
										</span>
									</div>
								</div>
								<a href="#" class="book-remove"></a>
							</div>
							<div class="book-text">
								<p class="book01">汉字练习/儿童启蒙天天练</p>
								<p>作者：余华</p>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<div>
									<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
									<div class="book-mask">
										<span class="book-view">
											<a href="#">查看图书</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
										</span>
									</div>
								</div>
								<a href="#" class="book-remove"></a>
							</div>
							<div class="book-text">
								<p class="book01">汉字练习/儿童启蒙天天练</p>
								<p>作者：余华</p>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<div>
									<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
									<div class="book-mask">
										<span class="book-view">
											<a href="#">查看图书</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
										</span>
									</div>
								</div>
								<a href="#" class="book-remove"></a>
							</div>
							<div class="book-text">
								<p class="book01">汉字练习/儿童启蒙天天练</p>
								<p>作者：余华</p>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<div>
									<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
									<div class="book-mask">
										<span class="book-view">
											<a href="#">查看图书</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
										</span>
									</div>
								</div>
								<a href="#" class="book-remove"></a>
							</div>
							<div class="book-text">
								<p class="book01">汉字练习/儿童启蒙天天练</p>
								<p>作者：余华</p>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<div>
									<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
									<div class="book-mask">
										<span class="book-view">
											<a href="#">查看图书</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
										</span>
									</div>
								</div>
								<a href="#" class="book-remove"></a>
							</div>
							<div class="book-text">
								<p class="book01">汉字练习/儿童启蒙天天练</p>
								<p>作者：余华</p>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<div>
									<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
									<div class="book-mask">
										<span class="book-view">
											<a href="#">查看图书</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
										</span>
									</div>
								</div>
								<a href="#" class="book-remove"></a>
							</div>
							<div class="book-text">
								<p class="book01">汉字练习/儿童启蒙天天练</p>
								<p>作者：余华</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="page">
					<span class="prev"></span>
					<a href="#" class="cur">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">..</a>
					<a href="#">99</a>
					<a href="#">100</a>
					<span class="next"></span>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		/**左侧导航**/
		$('.personal ul li').removeClass('cur-li');
		$('.personal06').addClass('cur-li');
	</script>