
	<div class="mainer clearfix">
		<div class="mainer-left">
			<a href="#" class="mainer-p01"><img src="__PUBLIC__/Home/images/icon/return01.png" alt="">返回个人中心</a>
			<p class="mainer-p02">书单编辑：从列表中选择或搜索您想要的图书</p>
			<div class="search-wrap">
				<input type="text" placeholder="直接搜索您想要的书名"><a href="#"></a>
			</div>
			<div class="zzxs-btn clearfix">
				<a href="#" class="zzxs cur-btn">自主选书</a>
				<a href="#" class="jgtj">机构推荐</a>
			</div>
			<div class="zzxs-list">
				<ul>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
				</ul>
			</div>
		</div>
		<div class="mainer-right">
			<div class="book-wrap">
				<div class="book-change">
					<a href="" class="book-return"><img src="__PUBLIC__/Home/images/icon/return02.png" alt="">返回列表</a>
				</div>
				<div class="book-info clearfix">
					<div class="info-left">
						<div class="info-pic">
							<img src="__PUBLIC__/Home/images/book03.jpg" alt="">
						</div>
						<a href="#">到详细页面查看更多>></a>
					</div>
					<div class="info-right">
						<p class="info1">{{$bookinfo.content_intro}}</p>
						<div class="info2">
							<p>丛书名：{{$bookinfo.book_name}}</p>
							<p>作者：（{{$bookinfo.book_author}}</p>
							<p>出版社：{{$bookinfo.book_press}}</p>
							<p>出版时间：{{$bookinfo.book_publication_time}}</p>
							<p>ＩＳＢＮ：{{$bookinfo.isbn}}</p>
						</div>
						<div class="info3 clearfix">
							<span class="info3-left">所属分类：</span>
							<div class="info3-right">
								<p>图书 > 童书 > 平装图画书 > 欧美</p>
								<p>童书 > 3-6岁 > 卡通/动漫/图画书</p>
								<p>图书 > 童书 > 平装图画书 > 欧美</p>
								<p>童书 > 3-6岁 > 卡通/动漫/图画书</p>
								<p>图书 > 童书 > 平装图画书 > 欧美</p>
								<p>童书 > 3-6岁 > 卡通/动漫/图画书</p>
							</div>
						</div>
						<a href="#" class="info-btn">加入我的书单</a>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="mainer-btm">
			<div class="book-box">
				<div class="book-top">
					<img src="__PUBLIC__/Home/images/icon/book05.png" alt="">已添加图书列表
				</div>
				<div class="zw"><img src="__PUBLIC__/Home/images/icon/zw01.png" alt="">暂时没有书本，请从上方新增</div>
			</div>
		</div>
	</div>
>