
	<div class="mainer clearfix">
		<div class="mainer-left">
			<a href="{{:U('Users/userinfo')}}" class="mainer-p01"><img src="__PUBLIC__/home/images/icon/return01.png" alt="">返回个人中心</a>
			<p class="mainer-p02">书单编辑：从列表中选择或搜索您想要的图书</p>
			<div class="search-wrap">
				<input type="text" placeholder="直接搜索您想要的书名" id="search-book-name">
				<a href="#" class="search-btn" onclick="searchBook()" ></a>
			</div>
			<div class="zzxs-btn clearfix">
				<a href="#" class="zzxs cur-btn">自主选书</a>
				<a href="#" class="jgtj">机构推荐</a>
			</div>
			<div class="zzxs-list">
				<ul>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
					<li><a href="#">有趣的科学</a></li>
				</ul>
			</div>
		</div>
		<div class="mainer-right">
			<div class="book-wrap">
				<div class="book-change">
					<!-- <a href="javascript:;" class="book-left"></a>
					<a href="javascript:;" class="book-right"></a> -->
					
				</div>
				<h5 class="per-h5"><i class="prev01"></i><i class="next01"></i></h5>
				<div class="book-inner clearfix">
					<ul>
						<li>
							<div class="book-pic">
								<img src="__PUBLIC__/home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="book-name">起太早的鸟儿没虫吃</a>
									<span class="book-view">
										<a href="#">图书详情</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
								</div>
							</div>
						</li>
						 <li>
							<div class="book-pic">
								<img src="__PUBLIC__/home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="book-name">起太早的鸟儿没虫吃</a>
									<span class="book-view">
										<a href="#">图书详情</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
									</span>
								</div>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<img src="__PUBLIC__/home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="book-name">起太早的鸟儿没虫吃</a>
									<span class="book-view">
										<a href="#">图书详情</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
									</span>
								</div>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<img src="__PUBLIC__/home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="book-name">起太早的鸟儿没虫吃</a>
									<span class="book-view">
										<a href="#">图书详情</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
									</span>
								</div>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<img src="__PUBLIC__/home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="book-name">起太早的鸟儿没虫吃</a>
									<span class="book-view">
										<a href="#">图书详情</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
									</span>
								</div>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<img src="__PUBLIC__/home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="book-name">起太早的鸟儿没虫吃</a>
									<span class="book-view">
										<a href="#">图书详情</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
									</span>
								</div>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<img src="__PUBLIC__/home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="book-name">起太早的鸟儿没虫吃</a>
									<span class="book-view">
										<a href="#">图书详情</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
									</span>
								</div>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<img src="__PUBLIC__/home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="book-name">起太早的鸟儿没虫吃</a>
									<span class="book-view">
										<a href="#">图书详情</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
									</span>
								</div>
							</div>
						</li> 



						<li>
							<div class="book-pic">
								<img src="__PUBLIC__/home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="book-name">起太早的鸟儿没虫吃</a>
									<span class="book-view">
										<a href="#">图书详情</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
									</span>
								</div>
							</div>
						</li>

						<li>
							<div class="book-pic">
								<img src="__PUBLIC__/home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="book-name">起太早的鸟儿没虫吃</a>
									<span class="book-view">
										<a href="#">图书详情</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
									</span>
								</div>
							</div>
						</li>

						<li>
							<div class="book-pic">
								<img src="__PUBLIC__/home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="book-name">起太早的鸟儿没虫吃</a>
									<span class="book-view">
										<a href="#">图书详情</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
									</span>
								</div>
							</div>
						</li>
						<li>
							<div class="book-pic">
								<img src="__PUBLIC__/home/images/book03.jpg" alt="">
								<div class="book-mask">
									<a href="#" class="book-name">起太早的鸟儿没虫吃</a>
									<span class="book-view">
										<a href="#">图书详情</a>&nbsp;/&nbsp;<a href="#">加入书单</a>
									</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="mainer-btm">
			<div class="book-box">
				<div class="book-top">
					<img src="__PUBLIC__/home/images/icon/book05.png" alt="">已添加列表（10本）
					<a href="#" class="book-a1">保存并生成书单</a>
				</div>
				<table>
					<tr class="table-title">
						<th>封面</th>
						<th>书名</th>
						<th>著作者</th>
						<th>出版社</th>
						<th>分类</th>
						<th>适读年龄</th>
						<th>操作</th>
					</tr>
					<foreach name="bookinfo" item="vo">
						<tr>
							<td><span class="td-img"><img src="__PUBLIC__/home/images/book03.jpg"></span></td>
							<td><a href="#" class="book-name02">{{$vo.book_name}}</a></td>
							<td>{{$vo.book_author}}</td>
							<td>{{$vo.book_press}}</td>
							<td>{{$vo.category}}</td>
							<td>{{$vo.age}}</td>
							<td><a href="#" class="td-del">删除</a></td>
						</tr>
					</foreach>
					
				</table>
				<div class="page">
					{{$show}}
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">


	function searchBook(){
		var bookname = $("#search-book-name").val();
		if(bookname!==""){
			$.post("{{:U('Book/searchBookByName')}}", {bookname,bookname}, function(data){
				if(data.status==1){
					var str = "";
					$.each(data.result, function(index,value){
						str+="<li><div class='book-pic'><img src='"+value.book_cover+"' alt=''><div class='book-mask'><a href='#' class='book-name'>"+value.book_name+"</a><span class='book-view'><a href='__CONTROLLER__/bookDetail/bookid/"+value.id+".html'>图书详情</a>&nbsp;/&nbsp;<a href='javascript:void(0);' class='addbook' onclick='addBook(this)'>加入书单</a><input type='hidden' class='bookid' value='"+value.id+"'></span></span></div></div></li>";
					});
					$(".book-inner>ul").html(str);
				}else if(data.status==-1){
					$(".book-inner").empty();
					$(".book-inner").html(data.result);
				}
			})
		}
	}


	//添加图书
	function addBook(obj){
		
		var id = $(obj).siblings('.bookid').val();
		$.get("__CONTROLLER__/getBookById/id/"+id, function(data) {
			if(data.status==1){
				var str="<tr><td><span class='td-img'><img src='"+data.result.book_cover+"'></span></td><td><a href='#' class='book-name02'>"+data.result.book_name+"</a></td><td>"+data.result.book_author+"</td><td>"+data.result.book_press+"</td><td>{{$vo.category}}</td><td>"+data.result.age+"</td><td><a href='#' class='td-del'>删除</a></td></tr>"
				$(".table-title").after(str);
			}
		});
	}

	
</script>