<link rel="stylesheet" href="__PUBLIC__/Home/css/ScrollbarY.css">
<script src="__PUBLIC__/Home/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<div class="main clearfix">
		<include file="public/left" />
		<div class="main-right">
			<div class="right-top">
				<div class="top-inner w740">
					<p class="record-p1">我的阅读记录时间轴</p>
				</div>
			</div>
			<div class="right-inner record">
				<div class="record-top clearfix">
					<a href="#" class="add-icon"><img src="__PUBLIC__/Home/images/icon/add01.png" alt=""></a>
					<div class="add-left">
						<span class="record-span1">添加新的阅读时间：</span>
						<div class="add-pic">添加图片<input type="file"></div>
					</div>
					<div class="add-right">
						<div class="span1">
							<span class="select1">2015<i></i>
								<ul>
									<li>2014</li>
									<li>2013</li>
									<li>2012</li>
								</ul>
							</span>年
							<span class="select1">12<i></i>
								<ul>
									<li>11</li>
									<li>10</li>
									<li>09</li>
								</ul>
							</span>月
							<span class="select1">30<i></i>
								<ul>
									<li>29</li>
									<li>28</li>
									<li>27</li>
								</ul>
							</span>日
						</div>
						<div class="input-wrap1">
							<input type="text" placeholder="直接输入或搜索书本名称">
							<i></i>
						</div>
						<textarea name="" id="" class="record-textarea" placeholder="在此处输入文字，不超过150字"></textarea>
						<span class="span02">我的标签：</span>
						<div class="book01-dui clearfix">
							<input type="text" placeholder="最多5个标签，单个不超过8个字">
							<span></span>
						</div>
						<div class="wdbq clearfix">
							<ul>
								<li><span>儿童教育</span></li>
								<li><span>经济</span></li>
								<li><span>管理培训</span></li>
							</ul>
						</div>
						<span class="span03">推荐标签：</span>
						<div class="tjbq clearfix">
							<ul>
								<li><span>儿童教育</span></li>
								<li><span>神话</span></li>
								<li><span>经济</span></li>
								<li><span>管理培训</span></li>
								<li><span>自然</span></li>
								<li><span>人文社科</span></li>
								<li><span>大百科</span></li>
								<li><span>小说</span></li>
							</ul>
						</div>
						<a href="#" class="record-sub">确认提交</a>
					</div>
				</div>
				<div class="record-mid">
					<div class="year-inner">
						<ul>
							<li class="cur-year">
								<a href="#">
									现在<i></i>
								</a>
							</li>
							<li>
								<a href="#">
									2009<i></i>
								</a>
							</li>
							<li>
								<a href="#">
									2010<i></i>
								</a>
							</li>
							<li>
								<a href="#">
									2011<i></i>
								</a>
							</li>
							<li class="year">
								<a href="#">
									2012<i></i>
								</a>
							</li>
							<li>
								<a href="#">
									2013<i></i>
								</a>
							</li>
							<li>
								<a href="#">
									2014<i></i>
								</a>
							</li>
							<li>
								<a href="#">
									2015<i></i>
								</a>
							</li>
						</ul>
					</div>
					<i class="next-year"></i>
					<i class="prev-year"></i>
					<span class="point01"></span>
				</div>
				<div class="record-btm">
					<div class="record-line"></div>
					<ul>
						<li class="clearfix">
							<div class="record-con clearfix">
								<div class="record-title">
									<span class="orange">2015年01月01日</span>
									<span class="record-bq">标签：亲子 温暖 儿童 亲子 温暖</span>
									<i class="record-xg"></i>
									<i class="record-del"></i>
								</div>
								<a class="look-notes" href="#">
									<div class="record-pic"><img src="__PUBLIC__/Home/images/record01.jpg" alt=""></div>
									<div class="record-text">
										<p class="record-p2">书名：《睡美人漂流记》</p>
										<p class="record-p3">真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。</p>
									</div>
								</a>
							</div>
							<div class="record-con clearfix">
								<div class="record-title">
									<span class="orange">2015年01月01日</span>
									<span class="record-bq">标签：亲子 温暖 儿童 亲子 温暖</span>
									<i class="record-xg"></i>
									<i class="record-del"></i>
								</div>
								<a class="look-notes" href="#">
									<div class="record-pic"><img src="__PUBLIC__/Home/images/record01.jpg" alt=""></div>
									<div class="record-text">
										<p class="record-p2">书名：《睡美人漂流记》</p>
										<p class="record-p3">真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。</p>
									</div>
								</a>
							</div>
							<div class="record-con clearfix">
								<div class="record-title">
									<span class="orange">2015年01月01日</span>
									<span class="record-bq">标签：亲子 温暖 儿童 亲子 温暖</span>
									<i class="record-xg"></i>
									<i class="record-del"></i>
								</div>
								<a class="look-notes" href="#">
									<div class="record-pic"><img src="__PUBLIC__/Home/images/record01.jpg" alt=""></div>
									<div class="record-text">
										<p class="record-p2">书名：《睡美人漂流记》</p>
										<p class="record-p3">真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。</p>
									</div>
								</a>
							</div>
							<span class="line-point">6月4日<i></i></span>
						</li>
						<li class="clearfix">
							<div class="record-con clearfix">
								<div class="record-title">
									<span class="orange">2015年01月01日</span>
									<span class="record-bq">标签：亲子 温暖 儿童 亲子 温暖</span>
									<i class="record-xg"></i>
									<i class="record-del"></i>
								</div>
								<a class="look-notes" href="#">
									<div class="record-pic"><img src="__PUBLIC__/Home/images/record01.jpg" alt=""></div>
									<div class="record-text">
										<p class="record-p2">书名：《睡美人漂流记》</p>
										<p class="record-p3">真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。</p>
									</div>
								</a>
							</div>
							<span class="line-point">6月4日<i></i></span>
						</li>
						<li class="clearfix">
							<div class="record-con clearfix">
								<div class="record-title">
									<span class="orange">2015年01月01日</span>
									<span class="record-bq">标签：亲子 温暖 儿童 亲子 温暖</span>
									<i class="record-xg"></i>
									<i class="record-del"></i>
								</div>
								<a class="look-notes" href="#">
									<div class="record-pic"><img src="__PUBLIC__/Home/images/record01.jpg" alt=""></div>
									<div class="record-text">
										<p class="record-p2">书名：《睡美人漂流记》</p>
										<p class="record-p3">真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。</p>
									</div>
								</a>
							</div>
							<div class="record-con clearfix">
								<div class="record-title">
									<span class="orange">2015年01月01日</span>
									<span class="record-bq">标签：亲子 温暖 儿童 亲子 温暖</span>
									<i class="record-xg"></i>
									<i class="record-del"></i>
								</div>
								<a class="look-notes" href="#">
									<div class="record-pic"><img src="__PUBLIC__/Home/images/record01.jpg" alt=""></div>
									<div class="record-text">
										<p class="record-p2">书名：《睡美人漂流记》</p>
										<p class="record-p3">真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。</p>
									</div>
								</a>
							</div>
							<div class="record-con clearfix">
								<div class="record-title">
									<span class="orange">2015年01月01日</span>
									<span class="record-bq">标签：亲子 温暖 儿童 亲子 温暖</span>
									<i class="record-xg"></i>
									<i class="record-del"></i>
								</div>
								<a class="look-notes" href="#">
									<div class="record-pic"><img src="__PUBLIC__/Home/images/record01.jpg" alt=""></div>
									<div class="record-text">
										<p class="record-p2">书名：《睡美人漂流记》</p>
										<p class="record-p3">真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。</p>
									</div>
								</a>
							</div>
							<span class="line-point">6月4日<i></i></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!--弹窗 遮罩 查看阅读笔记-->
	<div class="mask"></div>
	<div class="pop record-view">
		<p class="view-date">阅读时间：2015 年 08 月 25 日</p>
		<div class="view-title clearfix">
			<img src="__PUBLIC__/Home/images/record01.jpg" alt="">
			<span class="view-name">睡美人漂流记</span>
			<p class="view-bq">标签：亲子 温暖 儿童  儿童 儿童 儿童 儿童 儿童 儿童 儿童</p>
		</div>
		<p class="bjnr">笔记内容</p>
		<div class="view-text">
			<div class="view-con">
				<p>真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。</p>
				<p>真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。</p>
				<p>真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。</p>
				<p>真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。</p>
			</div>
		</div>
		<a href="#" class="pop-close"></a>
	</div>

	<!--弹窗 遮罩 修改阅读笔记-->
		<div class="mask"></div>
		<div class="pop record-xg">
			<div class="span1">
				<span class="select1">2015<i></i>
					<ul>
						<li>2014</li>
						<li>2013</li>
						<li>2012</li>
					</ul>
				</span>年
				<span class="select1">12<i></i>
					<ul>
						<li>11</li>
						<li>10</li>
						<li>09</li>
					</ul>
				</span>月
				<span class="select1">30<i></i>
					<ul>
						<li>29</li>
						<li>28</li>
						<li>27</li>
					</ul>
				</span>日
			</div>
			<div class="xg-left">
				<div class="xg-pic">
					<img src="__PUBLIC__/Home/images/record01.jpg" alt="">
					<div class="pic-mask">添加图片<input type="file"></div>
				</div>
			</div>
			<div class="xg-right">
				<div class="xg-text">
					<input type="text" value="睡美人漂流记">
					<textarea name="" id="">真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。真是不错的一本好书，这一次儿子看了一半，还有一半没看完，老缠着我给他睡前念完。真的是不错书籍，这几天就给孩子念完它。</textarea>
				</div>
				<span class="span02">输入标签：</span>
				<div class="book01-dui clearfix">
					<input type="text" placeholder="最多5个标签，单个不超过8个字">
					<span></span>
				</div>
				<div class="wdbq clearfix">
					<ul>
						<li><span>儿童教育</span></li>
						<li><span>经济</span></li>
						<li><span>管理培训</span></li>
					</ul>
				</div>
				<span class="span03">推荐标签：</span>
				<div class="tjbq clearfix">
					<ul>
						<li><span>儿童教育</span></li>
						<li><span>神话</span></li>
						<li><span>经济</span></li>
						<li><span>管理培训</span></li>
						<li><span>自然</span></li>
						<li><span>人文社科</span></li>
						<li><span>大百科</span></li>
						<li><span>小说</span></li>
					</ul>
				</div>
				<a href="#" class="record-sub">保存修改</a>
			</div>
			<a href="#" class="pop-close"></a>
		</div>

	<script>
		$(function(){
			var btm_h=$('.record-btm').offset().top;
			var li_h=$('.record-btm').find('li:last').offset().top;
			var line_height=li_h-btm_h+20;
			$('.record-line').height(line_height);
			$(window).load(function(){
				$(".view-text").mCustomScrollbar();
			});
			/**左侧导航**/
			$('.personal ul li').removeClass('cur-li');
			$('.personal10').addClass('cur-li');

			/*触发弹框 查看阅读记录*/
			$('.look-notes').click(function(){
			    $(".mask").show();
			    $('.record-view').show();
			})

			/*触发弹框 修改阅读记录*/
			$('.record-xg').click(function(){
			    $(".mask").show();
			    $('.record-xg').show();
			})


		})


	</script>
</body>
</html>