
	<link rel="stylesheet" href="__PUBLIC__/Home/css/ScrollbarY.css">
	<script src="__PUBLIC__/Home/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<div class="main clearfix">
		<include file="Public/left" />
		<div class="main-right">
			<div class="right-top">
				<div class="top-inner w740">
					<p class="top-text"><img src="__PUBLIC__/Home/images/icon/personal04.png" alt="">您已经撰写了 <span class="orange">10</span> 份笔记<a href="{{:U('Book/makeNotes')}}" class="white-note">写新的笔记</a></p>
					<div class="search-inp">
						<input type="text" placeholder="请输入笔记名称"><a href="#"></a>
					</div>
				</div>
			</div>
			<div class="right-inner result-inner w740">
				<div class="result-title">全部笔记 > 关于 “<span class="orange">孩子</span>” 的搜索结果</div>
				<div class="search-result">
					<ul>
						<li class="clearfix">
							<span class="pic01"><img src="__PUBLIC__/Home/images/icon/personal03.png" alt=""></span>
							<div class="note-info">
								<a href="#">笔记名称：《关于三只小熊的读后感》</a>
								<span class="note-date">创建日期：2015-09-10</span>
							</div>
							<span class="edit-del"><a href="#">编辑</a> / <a href="#">分享</a> / <a href="#">删除</a></span>
						</li>
						<li class="clearfix">
							<span class="pic01"><img src="__PUBLIC__/Home/images/icon/personal03.png" alt=""></span>
							<div class="note-info">
								<a href="#">笔记名称：《关于三只小熊的读后感》</a>
								<span class="note-date">创建日期：2015-09-10</span>
							</div>
							<span class="edit-del"><a href="#">编辑</a> / <a href="#">分享</a> / <a href="#">删除</a></span>
						</li>
						<li class="clearfix">
							<span class="pic01"><img src="__PUBLIC__/Home/images/icon/personal03.png" alt=""></span>
							<div class="note-info">
								<a href="#">笔记名称：《关于三只小熊的读后感》</a>
								<span class="note-date">创建日期：2015-09-10</span>
							</div>
							<span class="edit-del"><a href="#">编辑</a> / <a href="#">分享</a> / <a href="#">删除</a></span>
						</li>
						<li class="clearfix">
							<span class="pic01"><img src="__PUBLIC__/Home/images/icon/personal03.png" alt=""></span>
							<div class="note-info">
								<a href="#">笔记名称：《关于三只小熊的读后感》</a>
								<span class="note-date">创建日期：2015-09-10</span>
							</div>
							<span class="edit-del"><a href="#">编辑</a> / <a href="#">分享</a> / <a href="#">删除</a></span>
						</li>
						<li class="clearfix">
							<span class="pic01"><img src="__PUBLIC__/Home/images/icon/personal03.png" alt=""></span>
							<div class="note-info">
								<a href="#">笔记名称：《关于三只小熊的读后感》</a>
								<span class="note-date">创建日期：2015-09-10</span>
							</div>
							<span class="edit-del"><a href="#">编辑</a> / <a href="#">分享</a> / <a href="#">删除</a></span>
						</li>
						<li class="clearfix">
							<span class="pic01"><img src="__PUBLIC__/Home/images/icon/personal03.png" alt=""></span>
							<div class="note-info">
								<a href="#">笔记名称：《关于三只小熊的读后感》</a>
								<span class="note-date">创建日期：2015-09-10</span>
							</div>
							<span class="edit-del"><a href="#">编辑</a> / <a href="#">分享</a> / <a href="#">删除</a></span>
						</li>
						<li class="clearfix">
							<span class="pic01"><img src="__PUBLIC__/Home/images/icon/personal03.png" alt=""></span>
							<div class="note-info">
								<a href="#">笔记名称：《关于三只小熊的读后感》</a>
								<span class="note-date">创建日期：2015-09-10</span>
							</div>
							<span class="edit-del"><a href="#">编辑</a> / <a href="#">分享</a> / <a href="#">删除</a></span>
						</li>
						<li class="clearfix">
							<span class="pic01"><img src="__PUBLIC__/Home/images/icon/personal03.png" alt=""></span>
							<div class="note-info">
								<a href="#">笔记名称：《关于三只小熊的读后感》</a>
								<span class="note-date">创建日期：2015-09-10</span>
							</div>
							<span class="edit-del"><a href="#">编辑</a> / <a href="#">分享</a> / <a href="#">删除</a></span>
						</li>
						<li class="clearfix">
							<span class="pic01"><img src="__PUBLIC__/Home/images/icon/personal03.png" alt=""></span>
							<div class="note-info">
								<a href="#">笔记名称：《关于三只小熊的读后感》</a>
								<span class="note-date">创建日期：2015-09-10</span>
							</div>
							<span class="edit-del"><a href="#">编辑</a> / <a href="#">分享</a> / <a href="#">删除</a></span>
						</li>
					</ul>
				</div>
				<div class="page">
					<span class="prev"></span>
					<a href="#" class="cur">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">..</a>
					<a href="#">99</a>
					<a href="#">100</a>
					<span class="next"></span>
				</div>
			</div>
		</div>
	</div>

	<!--弹窗 遮罩-->
	<div class="mask"></div>
	<div class="pop note-pop">
		<div class="pop-wrap">
			<div class="pop-inner">
				<h3>关于三只小熊的读后感</h3>
				<p>是一本好书.在我们生活里有一种宝贵的财富叫友谊,它是用金钱买不到的.要是我们的人生里没有朋友,没有友谊,你将会是多么孤独呀!但是威尔伯的一生却是那么幸福.因为它有一个成天陪伴它,而且为了救他牺牲自己生命的朋友.威尔伯注定不会孤单.</p>
				<p>书中令我印象最深刻的莫过于夏洛和威尔伯之间的友情.一只蜘蛛给威尔伯第一感觉是可怕的,但是孤独很快就迫使他对夏洛有了进一步了解,并异常惊喜地发现夏洛其实有一颗善良的心.在威尔伯“我不想死啊,我不想死啊!”的哀号中,夏洛那一句坚定的“你不会死的,我救你!”</p>
				<p>留给我们深刻地印象.为了这个承诺,夏洛把毕生的精力,都投入其中,直到死亡的那一刻,它不要任何回报,这种友谊是单纯的,只有朋友间无私的关爱与生命中纯粹的友善.当现实中已经严重缺乏这样的感情的时候,这个故事感动了读者的心.每个读者大概都在羡慕着威尔伯有个夏洛,夏洛有个威尔伯吧,正是他们之间的互相理解,互相关怀,才让我们感受到友谊的可贵.读完了《夏洛特的网》后,书中的夏洛和威尔伯之间的友情,深深地打动了我……</p>
				<p>这本书主要讲述是在朱克曼家的谷仓里,住着一群小动物,其中小猪威尔伯和蜘蛛夏洛特建立了真挚的友谊.然而,威尔伯未来的命运却是成为熏肉火腿.作为一只猪,威尔伯只能悲痛绝望地接受这命运了,好朋友夏洛特却坚信它能救小猪.它吐出一根根丝在猪栏上织出了被人类视为奇迹的网上文字,这让威尔伯在集市上赢得了特别奖,和一个安享天年的未来,小猪终于得救了.但,这时,夏洛特的生命却走到了尽头.夏洛特的一声“再见”,伴随着曾经的蛛丝随风飘散.他已经在我们心中,留下了一张夏洛的网.</p>
				<p>这本书主要讲述是在朱克曼家的谷仓里,住着一群小动物,其中小猪威尔伯和蜘蛛夏洛特建立了真挚的友谊.然而,威尔伯未来的命运却是成为熏肉火腿.作为一只猪,威尔伯只能悲痛绝望地接受这命运了,好朋友夏洛特却坚信它能救小猪.它吐出一根根丝在猪栏上织出了被人类视为奇迹的网上文字,这让威尔伯在集市上赢得了特别奖,和一个安享天年的未来,小猪终于得救了.但,这时,夏洛特的生命却走到了尽头.夏洛特的一声“再见”,伴随着曾经的蛛丝随风飘散.他已经在我们心中,留下了一张夏洛的网.</p>
			</div>
		</div>
		<a href="#" class="pop-close"></a>
		<a href="#" class="pop-share"></a>
	</div>
	<!--滚动条-->
	<script type='text/javascript'>
		$(function(){
			$(window).load(function(){
				$(".pop-wrap").mCustomScrollbar();
			});
		})

		/**左侧导航**/
		$('.personal ul li').removeClass('cur-li');
		$('.personal07').addClass('cur-li');

		/*关闭弹窗*/
		$(".mask").hide();$('.pop').hide();
		/*触发弹窗*/
		$('.note-info').click(function(){
		    $(".mask").show();
		    $('.pop').show();
		})

	</script>
