<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>编辑频道</title>
<link href="__PUBLIC__/Admin/scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/skin/default/stylechannel.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Admin/scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/scripts/jquery/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/scripts/artdialog/dialog-plus-min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/js/laymain.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/js/commonchannel.js"></script>
<script type="text/javascript">
    $(function () {
        //初始化表单验证
        $("#form1").initValidform();
        //添加按钮(点击绑定)
        $("#itemAddButton").click(function () {
            showChannelDialog();
        });
        //关联规格相关字段
        var objMarketPrice;
        var objSellPrice;
        var objStockQuantity; //声明对象
        $("#cblAttributeField input").each(function () {
            var fieldArr = $(this).val().split(',');
            var fieldIndex = $("#cblAttributeField input").index($(this));
            if (fieldArr[0] == 'market_price') {
                objMarketPrice = $("#cblAttributeField").siblings("ul").children("li").eq(fieldIndex).children("a");
            }
            if (fieldArr[0] == 'sell_price') {
                objSellPrice = $("#cblAttributeField").siblings("ul").children("li").eq(fieldIndex).children("a");
            }
            if (fieldArr[0] == 'stock_quantity') {
                objStockQuantity = $("#cblAttributeField").siblings("ul").children("li").eq(fieldIndex).children("a");
            }
        });
        $("#cbIsSpec").on("click", function () {
            if ($(this).prop("checked") == true) {
                if (!objMarketPrice.parent().hasClass("selected")) {
                    objMarketPrice.trigger("click");
                }
                if (!objSellPrice.parent().hasClass("selected")) {
                    objSellPrice.trigger("click");
                }
                if (!objStockQuantity.parent().hasClass("selected")) {
                    objStockQuantity.trigger("click");
                }
            }
        });
        objMarketPrice.on("click", function () {
            if (!$(this).parent().hasClass("selected") && $("#cbIsSpec").prop("checked") == true) {
                $("#cbIsSpec").trigger("click");
            }
        });
        objSellPrice.on("click", function () {
            if (!$(this).parent().hasClass("selected") && $("#cbIsSpec").prop("checked") == true) {
                $("#cbIsSpec").trigger("click");
            }
        });
        objStockQuantity.on("click", function () {
            if (!$(this).parent().hasClass("selected") && $("#cbIsSpec").prop("checked") == true) {
                $("#cbIsSpec").trigger("click");
            }
        });
    });

    //创建窗口
    function showChannelDialog(obj) {
        var objNum = arguments.length;
        var d = top.dialog({
            id: 'dialogChannel',
            title: 'URL配置信息',
            url: 'dialog/dialog_channel.aspx'
        }).showModal();
        //检查是否修改状态
        if (objNum == 1) {
            d.data = obj;  // 给窗体传入对象
        }
    }

    //删除一行
    function delItemTr(obj) {
        top.dialog({
            title: '提示',
            content: '您确定要删除这个页面吗？',
            okValue: '确定',
            ok: function () {
                $(obj).parent().parent().remove(); //删除节点
            },
            cancelValue: '取消',
            cancel: function () { }
        }).showModal();
    }
</script>
</head>

<body class="mainbody">
<form method="get" action="__URL__/insert_channel" id="form1">
<!--导航栏-->
<div class="location">
  <a href="__URL__/channel_list" class="back"><i></i><span>返回列表页</span></a>
  <a href="" class="home"><i></i><span>首页</span></a>
  <i class="arrow"></i>
  <a href="__URL__/channel_list"><span>频道管理</span></a>
  <i class="arrow"></i>
  <span>新增</span>
</div>
<div class="line10"></div>
<!--/导航栏-->

<!--内容-->
<div id="floatHead" class="content-tab-wrap">
  <div class="content-tab">
    <div class="content-tab-ul-wrap">
      <ul>
        <li><a class="selected" href="javascript:;">基本信息</a></li>
       <!--  <li><a href="javascript:;">URL配置</a></li> -->
      </ul>
    </div>
  </div>
</div>

<div class="tab-content">

	<dl>
    <dt>所属栏目</dt>
    <dd>
      <div class="rule-single-select">
        <select name="ddlSiteId" id="ddlSiteId" onchange="getChannelCoums();" datatype="*" errormsg="请选择所属站点！" sucmsg=" ">
			<option value="">请选择所属栏目</option>
			<option <if condition="$partnum eq '1'">selected</if> value="1">新闻</option>
			<option <if condition="$partnum eq '2'">selected</if> value="2">广告</option>
			<option <if condition="$partnum eq '3'">selected</if> value="3">商城</option>
			<!-- <option <if condition="$partnum eq '4'">selected</if> value="4">财务</option> -->
		</select>
      </div>
    </dd>
  </dl>



  <dl>
    <dt>调用名称</dt>
    <dd>
      <input name="txtName" type="text" id="txtName" class="input normal" datatype="/^[a-zA-Z0-9\-\_]{2,50}$/" errormsg="请填写正确的名称！" sucmsg=" " ajaxurl="" />
	  <!-- input name="txtName" type="text" id="txtName" class="input normal" datatype="/^[a-zA-Z0-9\-\_]{2,50}$/" errormsg="请填写正确的名称！" sucmsg=" " ajaxurl="../../tools/admin_ajax.ashx?action=channel_name_validate" /> -->
      <span class="Validform_checktip">*调用名称，只允许使用英文、数字或下划线。</span>
    </dd>
  </dl>
  <dl>
    <dt>频道标题</dt>
    <dd><input name="txtTitle" type="text" id="txtTitle" class="input normal" datatype="*2-100" sucmsg=" " /> <span class="Validform_checktip">*标题备注，允许中文。</span></dd>
  </dl>
  <!-- <dl>
    <dt>所属站点</dt>
    <dd>
      <div class="rule-single-select">
        <select name="ddlSiteId" id="ddlSiteId" datatype="*" errormsg="请选择所属站点！" sucmsg=" ">
			<option value="">请选择站点...</option>
			<volist name="sites" id="vo">
				<option value="{{$vo.id}}">{{$vo.title}}</option>
			</volist>
		</select>
      </div>
    </dd>
  </dl> -->
  <dl>
    <dt>开启相册</dt>
    <dd>
      <div class="rule-single-checkbox">
          <input id="cbIsAlbums" type="checkbox" name="cbIsAlbums" />
      </div>
      <span class="Validform_checktip">*开启相册功能后可上传多张图片</span>
    </dd>
  </dl>
  <dl>
    <dt>开启附件</dt>
    <dd>
      <div class="rule-single-checkbox">
          <input id="cbIsAttach" type="checkbox" name="cbIsAttach" />
      </div>
      <span class="Validform_checktip">*开启附件功能后可上传多个附件。</span>
    </dd>
  </dl>
  <!-- <dl>
    <dt>会员组价格</dt>
    <dd>
      <div class="rule-single-checkbox">
          <input id="cbIsSpec" type="checkbox" name="cbIsSpec" />
      </div>
      <span class="Validform_checktip">*开启会员组价格</span>
    </dd>
  </dl> -->
  <dl>
    <dt>排序数字</dt>
    <dd>
      <input name="txtSortId" type="text" value="99" id="txtSortId" class="input small" datatype="n" sucmsg=" " />
      <span class="Validform_checktip">*数字，越小越向前</span>
    </dd>
  </dl>
  
  <notempty name="partnum">
  		<notempty name="coumsdata">
			  <dl>
			    <dt>选择字段</dt>
			    <dd>
			      <div class="rule-multi-porp">
			          <span id="cblAttributeField">
			          		<volist name="coumsdata" id="vo" key="k">
			          			<input id="cblAttributeField_{{$k}}" type="checkbox" name="cblAttributeField[]" value="{{$vo.id}}" />
				          		<label for="cblAttributeField_{{$k}}">{{$vo.title}}</label>
			          		</volist>
				          	<!-- <input id="cblAttributeField_0" type="checkbox" name="cblAttributeField$0" value="pro_type,20" />
				          	<label for="cblAttributeField_0">产品属性</label>
				          	<input id="cblAttributeField_1" type="checkbox" name="cblAttributeField$1" value="pro_sms,19" />
				          	<label for="cblAttributeField_1">产品说明书</label> -->
				          	
			          	</span>
			      </div>
			    </dd>
			  </dl>
  		</notempty>	
  		
  		<notempty name="coumsdata">
			  <dl>
			    <dt>列表显示字段</dt>
			    <dd>
			      <div class="rule-multi-porp">
			          <span id="cblListField">
			          		<volist name="coumsdata" id="vo" key="k">
			          			<input id="cblListField_{{$k}}" type="checkbox" name="cblListField[]" value="{{$vo.id}}" />
				          		<label for="cblListField_{{$k}}">{{$vo.title}}</label>
			          		</volist>
			          	</span>
			      </div>
			    </dd>
			  </dl>
  		</notempty>	
  		
  		<notempty name="coumsdata">
			  <dl>
			    <dt>搜索字段</dt>
			    <dd>
			      <div class="rule-multi-porp">
			          <span id="cblSearchField">
			          		<volist name="coumsdata" id="vo" key="k">
			          			<input id="cblSearchField_{{$k}}" type="checkbox" name="cblSearchField[]" value="{{$vo.id}}" />
				          		<label for="cblSearchField_{{$k}}">{{$vo.title}}</label>
			          		</volist>
			          	</span>
			      </div>
			    </dd>
			  </dl>
  		</notempty>	
  </notempty>
  
</div>

<!-- <div class="tab-content" style="display:none;">
  <dl>
    <dt>URL生成配置</dt>
    <dd><a id="itemAddButton" class="icon-btn add"><i></i><span>添加页面</span></a></dd>
  </dl>
  <dl>
    <dt></dt>
    <dd>
      <div class="table-container">
          <table border="0" cellspacing="0" cellpadding="0" class="border-table" width="100%">
            <thead>
              <tr>
                <th width="12%">类型</th>
                <th width="16%">调用名称</th>
                <th width="25%">生成文件名</th>
                <th width="25%">模板文件名</th>
                <th width="12%">分页大小</th>
                <th width="10%">操作</th>
              </tr>
            </thead>
            <tbody id="item_box">
              
            </tbody>
          </table>
      </div>
    </dd>
  </dl>
</div> -->
<!--/内容-->

<!--工具栏-->
<div class="page-footer">
  <div class="btn-wrap">
    <input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btn" />
    <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
  </div>
</div>
<!--/工具栏-->
</form>

<script>
	function getChannelCoums(){
		
		var partnum = $("#ddlSiteId").val();//选中栏目的id
		window.location.href="__APP__/MomuAdmin/Channel/channel_add/id/"+partnum;
		/*
		//清空字段内容
		$("#cblAttributeField").html('');
		if(partnum != '' && partnum != undefined){
			$.post("{{:U('Channel/getCoums')}}",{"id":partnum},function(data){
				var d = eval("("+data+")");
				var coumstr = "";
				if(d.code == 200){//有数据
					var objdata = d.data;
					$.each(objdata,function(n,v){
						coumstr += "<input id='cblAttributeField_"+n+"' type='checkbox' name='cblAttributeField[]' value='"+v['id']+"' />";
						coumstr += "<label for='cblAttributeField_"+n+"'>"+v['title']+"</label>";
					});
					
					//将数据插入html标签中
					$("#cblAttributeField").html(coumstr);
					
				}
				
			});
		}
		*/
		
	}
	
	


</script>





</body>
</html>