<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>频道管理</title>
    <link href="__PUBLIC__/Admin/scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/skin/default/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/css/pagination.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/js/laymain.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/js/common.js"></script>
    <script>
	//操作提示框
	showResult("{{$result}}","{{$msg}}");
	</script>
</head>

<body class="mainbody">
<form method="get" action="__URL__/channel_list" id="form2">
	<input type="hidden" id="txtkeywords" name="channelwords" value="{{$txtkeywords}}" />
	<input type="hidden" id="p" name="p" value="" />
</form>


<form method="post" action="__URL__/channel_list" id="form1">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
</div>
	<input type="hidden" name="targ" value="" /> 
    <script type="text/javascript">
    /*
        function __doPostBack(eventTarget, eventArgument) {
	        var theForm = document.forms['form1'];
	        if (!theForm) {
	            theForm = document.form1;
	        }
            if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
            	 theForm.targ.value = eventTarget;
            	 if(eventTarget == "btnDelete"){
            		 //当为批量删除时，获取到批量删除的id数组
            		 var objs = $(".checkboxarr:checked");//获取满足的对象
            		 var deids = "";//构造需要删除的id
            		 objs.each(function(){
            			 deids += $(this).attr("value")+",";
            		 });
            		 deids = deids.substr(0,deids.length-1);//处理拼接好的需要删除的id的字符串
            		 $.post("__URL__/del",{"flag":"channel","deids":deids},function(res){
            			 if(res == "error"){
            				 parent.dialog({
            			            title: '提示',
            			            content: '对不起，删除记录失败了！',
            			            okValue: '确定',
            			            ok: function () { }
            			        }).showModal();
            			 }else{
            				 parent.dialog({
         			            title: '提示',
         			            content: '成功删除'+res+'条记录！',
         			            okValue: '确定',
         			            ok: function () {window.location.href="__URL__/channel_list";}
         			        }).showModal();
            				
            			 }
            		 });
            		 return false;
            	}
                theForm.submit();
            }
        }
    */
    
    var theForm = document.forms['form1'];
    if (!theForm) {
        theForm = document.form1;
    }
    function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
            theForm.__EVENTTARGET.value = eventTarget;
            theForm.__EVENTARGUMENT.value = eventArgument;
            theForm.submit();
        }
    }
    </script>
    <!--导航栏-->
    <div class="location">
        <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
        <a href="#" class="home"><i></i><span>首页</span></a>
        <i class="arrow"></i>
        <span>频道管理</span>
    </div>
    <!--/导航栏-->

    <!--工具栏-->
    <div id="floatHead" class="toolbar-wrap">
        <div class="toolbar">
            <div class="box-wrap">
                <a class="menu-btn"></a>
                <div class="l-list">
                    <ul class="icon-list">
                        <li><a class="add" href="{{:U('Channel/channel_add')}}"><i></i><span>新增</span></a></li>
                        <!-- <li><a id="btnSave" class="save" href="javascript:__doPostBack(&#39;btnSave&#39;,&#39;&#39;)"><i></i><span>保存</span></a></li> -->
                        <li><a class="all" href="javascript:;" onclick="checkAll(this);"><i></i><span>全选</span></a></li>
					<li><a onclick="return ExePostBack(&#39;btnDelete&#39;);" id="btnDelete" class="del" href="javascript:__doPostBack(&#39;btnDelete&#39;)"><i></i><span>删除</span></a></li>
                    </ul>
                    <!-- <div class="menu-list">
                        <div class="rule-single-select">
                            <select name="siteid" onchange="javascript:setTimeout(__doPostBack(&#39;ddlControlType&#39;), 0)" id="siteid">
                                <option  value="">所有站点</option>
								<volist name="sites" id="vo" >
                               		<option value="{{$vo.id}}" <if condition="$vo.id eq $Think.request.siteid ">selected</if>>{{$vo.title}}</option>
								</volist>
                            </select>
                        </div>
                    </div> -->
                    <div class="menu-list">
                        <div class="rule-single-select">
                            <select name="channelType" onchange="javascript:setTimeout(__doPostBack(&#39;channelType&#39;), 0)" id="channelType">
                                <option value="">所有类型</option>
                                <option <if condition="$Think.request.channelType eq '1'">selected</if>  value="1">新闻</option>
                                <option <if condition="$Think.request.channelType eq '2'">selected</if>  value="2">广告</option>
                                <option <if condition="$Think.request.channelType eq '3'">selected</if>  value="3">商城</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="r-list">
                    <input name="channelwords" type="text" id="txtKeywords" value="{{$txtkeywords}}" class="keyword" />
                    <a id="lbtnSearch" class="btn-search" onclick="__doPostBack(&#39;lbtnSearch&#39;);">查询</a>
                </div>
            </div>
        </div>
    </div>
    <!--/工具栏-->

    <!--列表-->
    <div class="table-container">

        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
            <tr>
                <th width="8%">选择</th>
                <th align="left">名称</th>
                <th align="left" width="16%">标题</th>
                <th align="left" width="12%">所属栏目</th>
                <th width="8%">相册</th>
                <th width="10%">附件</th>
                <th align="left" width="12%">排序</th>
                <th width="10%">操作</th>
            </tr>
			
			<volist name="list" key="k" id="vo">
				<tr>
	                <td align="center">
	                    <!-- <span class="checkall" style="vertical-align:middle;"><input class='checkboxarr' type="checkbox" name="listcheckbox[]" value="{{$vo.id}}"  /></span> -->
	                	<span class="checkall" style="vertical-align:middle;"><input id="chkId_{{$k}}" type="checkbox" name="chkId[{{$k}}]" /></span>
	        			<input type="hidden" name="hidId[{{$k}}]" id="hidId_{{$k}}" value="{{$vo['id']}}" />
	                </td>
	                <td>{{$vo.name}}</td>
	                <td>{{$vo.title}}</td>
	                <td>
	                	<if condition="$vo['site_id'] eq '1'">
	                	新闻
	                	<elseif condition="$vo['site_id'] eq '2'"/>
	                	广告
	                	<elseif condition="$vo['site_id'] eq '3'"/>
	                	商城
	                	<elseif condition="$vo['site_id'] eq '4'"/>
	                	财务
	                	<else/>
	                	未知
	                	</if>
	                </td>
	                <if condition="$vo.is_albums eq '1'">
		                <td align="center">√</td>
	                <else/>
		                <td align="center">×</td>
	                </if>
	                <if condition="$vo.is_attach eq '1'">
		                <td align="center">√</td>
	                <else/>
		                <td align="center">×</td>
	                </if>
	                <td class='sortpoint'><input eid="{{$vo.id}}" class='sortid' style='display:none;width:50px;' name="txtSortId" type="text" value="{{$vo.sort_id}}" /><span class='sortnum'>{{$vo.sort_id}}</span></td>
	                <td align="center"><a href="__URL__/channel_edit/id/{{$vo.id}}">修改</a></td>
            	</tr>
			</volist>
			
           <!--  <tr>
                <td align="center">
                    <span class="aspNetDisabled checkall" style="vertical-align:middle;"><input id="rptList_chkId_0" type="checkbox" name="rptList$ctl01$chkId" disabled="disabled" /></span>
                    <input type="hidden" name="rptList$ctl01$hidId" id="rptList_hidId_0" value="2" />
                </td>
                <td>sub_title</td>
                <td>副标题</td>
                <td>单行文本</td>
                <td align="center">×</td>
                <td align="center">√</td>
                <td><input name="rptList$ctl01$txtSortId" type="text" value="99" id="rptList_txtSortId_0" class="sort" onkeydown="return checkNumber(event);" /></td>
                <td align="center"><a href="attribute_field_edit.aspx?action=Edit&id=2">修改</a></td>
            </tr> -->


        </table>

    </div>
    <!--/列表-->

    <!--内容底部-->
    <div class="line20"></div>
    <div class="pagelist">
  <div class="l-btns">
    <span>显示</span><input name="txtPageNum" type="text" value="{{$pagenum}}" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;txtPageNum\&#39;,\&#39;\&#39;)&#39;, 0)" onkeypress="" id="txtPageNum" class="pagenum" onkeydown="return checkNumber(event);" /><span>条/页</span>
  </div>
  <div id="PageContent" class="default"><span>共{{$totalcount}}记录</span>{{$page}}</div>
</div>
<script>
	$("#PageContent a").click(function(){
		var pathstr = $(this).attr("href");
		var patharr =pathstr.split("/"); 
		var pagestr = patharr[patharr.length-1];
		var parr = pagestr.split(".");
		var clickpage = parr[0];
		
		$("#form2 #p").attr("value",clickpage);
		$("#form2").submit();
		return false;
	});
</script>
    <!--/内容底部-->
</form>
<script>
	$(".sortpoint").on("click",function(){
		$(this).children(".sortid").show().focus();
		$(this).children(".sortnum").hide();
	});
	
	$(".sortid").on("blur",function(){
		$(this).hide();//将表单隐藏
		var onum = $(this).siblings(".sortnum").html();
		var sortnum = $(this).val();//获取更改的值
		if(onum == sortnum){$(this).siblings(".sortnum").show();return false;}
		var eid = $(this).attr("eid");
		if(isNaN(sortnum)){
			$(this).siblings(".sortnum").show();return false;
		}
		var r = /^[0-9]*[1-9][0-9]*$/;//正整数验证
		if(!r.test(sortnum)){
			$(this).siblings(".sortnum").show();return false;
		}
		//ajax传递到后台，更改表的排序字段的值
		var obj = $(this);
		$.post("__URL__/edit_sort",{"sortnum":sortnum,"eid":eid,"flag":"channel"},function(res){
			if(res == "success"){
				obj.siblings(".sortnum").html(sortnum).show();//将数据进行展示
			}else{
				obj.siblings(".sortnum").show();//将数据进行展示
			}
		});
		
	});
	
</script>
</body>
</html>
