<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>订单管理</title>
<link href="__PUBLIC__/Admin/scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/skin/default/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/Admin/css/pagination.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/scripts/artdialog/dialog-plus-min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/js/laymain.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/js/common.js"></script>
</head>

<body class="mainbody">
<form method="get" action="__URL__/order_list" id="form2">
	<input type="hidden" id="txtKeywords" name="txtKeywords" value="{{$Think.request.txtKeywords}}" />
	<input type="hidden" id="ddlStatus" name="ddlStatus" value="{{$Think.request.ddlStatus}}" />
	<input type="hidden" id="p" name="p" value="" />
</form>

<form method="post" action="__URL__/order_list" id="form1">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
</div>

<script type="text/javascript">
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
</script>

<!--导航栏-->
<div class="location">
  <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
  <a href="" class="home"><i></i><span>首页</span></a>
  <i class="arrow"></i>
  <span>订单列表</span>
</div>
<!--/导航栏-->

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
  <div class="toolbar">
    <div class="box-wrap">
      <a class="menu-btn"></a>
      <div class="l-list">
        <ul class="icon-list">
          <li><a class="all" href="javascript:;" onclick="checkAll(this);"><i></i><span>全选</span></a></li>
          <li><a onclick="return ExePostBack(&#39;btnDelete&#39;);" id="btnDelete" class="del" href="javascript:__doPostBack(&#39;btnDelete&#39;,&#39;&#39;)"><i></i><span>删除</span></a></li>
          <!-- <li><a onclick="return ExePostBack(&#39;btnDelete&#39;,&#39;只允许删除已作废订单，是否继续？&#39;);" id="btnDelete" class="del" href="javascript:__doPostBack(&#39;btnDelete&#39;,&#39;&#39;)"><i></i><span>删除</span></a></li> -->
        </ul>
        <div class="menu-list">
          <div class="rule-single-select">
            <select name="ddlStatus" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ddlStatus\&#39;,\&#39;\&#39;)&#39;, 0)" id="ddlStatus">
				<option selected="selected" value="">订单状态</option>
				<option <eq name="Think.request.ddlStatus" value="1">selected</eq> value="1">已生成</option>
				<option <eq name="Think.request.ddlStatus" value="2">selected</eq> value="2">已支付</option>
				<option <eq name="Think.request.ddlStatus" value="3">selected</eq> value="3">已确认</option>
				<option <eq name="Think.request.ddlStatus" value="4">selected</eq> value="4">已发货</option>
				<option <eq name="Think.request.ddlStatus" value="5">selected</eq> value="5">已完成</option>
				<option <eq name="Think.request.ddlStatus" value="6">selected</eq> value="6">已取消</option>
				<option <eq name="Think.request.ddlStatus" value="7">selected</eq> value="7">已作废</option>
			</select>
          </div>

        </div>
      </div>
      <div class="r-list">
        <input name="txtKeywords" value="{{$Think.request.txtKeywords}}" type="text" id="txtKeywords" class="keyword" />
        <a id="lbtnSearch" class="btn-search" href="javascript:__doPostBack(&#39;lbtnSearch&#39;,&#39;&#39;)">查询</a>
      </div>
    </div>
  </div>
</div>
<!--/工具栏-->

<!--列表-->
<div class="table-container">

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
  <tr>
    <th width="8%" align="center">选择</th>
    <th align="center">订单号</th>
    <th align="center" width="12%">会员账号</th>
    <th align="center" width="10%">支付方式</th>
    <th align="center" width="10%">配送方式</th>
    <th align="center" width="8%">订单状态</th>
    <th align="center" width="10%">总金额</th>
    <th align="center" width="16%">下单时间</th>
    <th align="center" width="">操作</th>
  </tr>
	<empty name="list">
	  <tr><td align="center" colspan="9">暂无记录</td></tr>
	<else/>
		<volist name="list" key="k" id="vo">
			<tr>
				<td align="center">
			      <span class="checkall" style="vertical-align:middle;"><input id="chkId_{{$k}}" type="checkbox" name="chkId[{{$k}}]" /></span>
			      <input type="hidden" name="hidId[{{$k}}]" id="rptList_hidId_{{$k}}" value="{{$vo['id']}}" />
			    </td>
				<td align="center">{{$vo['order_no']}}</td>
				<td align="center">{{$vo['user_name']}}</td>
				<td align="center">{{$vo['ptitle']}}</td>
				<td align="center">{{$vo['etitle']}}</td>
				<td align="center">{{$vo['status']|showOrderStatus=###}}</td>
				<td align="center">{{$vo['order_amount']}}</td>
				<td align="center">{{$vo['add_time']}}</td>
				<td align="center"><a href="__URL__/order_detail/id/{{$vo['id']}}">查看详情</a></td>
			</tr>
		</volist>
	</empty>
</table>

</div>
<!--/列表-->

<!--内容底部-->
<div class="line20"></div>
<div class="pagelist">
  <div class="l-btns">
    <span>显示</span><input name="txtPageNum" type="text" value="{{$pagenum}}" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;txtPageNum\&#39;,\&#39;\&#39;)&#39;, 0)" onkeypress="" id="txtPageNum" class="pagenum" onkeydown="return checkNumber(event);" /><span>条/页</span>
  </div>
  <div id="PageContent" class="default"><span>共{{$totalcount}}记录</span>{{$page}}</div>
</div>
<script>
	$("#PageContent a").click(function(){
		var pathstr = $(this).attr("href");
		var patharr =pathstr.split("/"); 
		var pagestr = patharr[patharr.length-1];
		var parr = pagestr.split(".");
		var clickpage = parr[0];
		
		$("#form2 #p").attr("value",clickpage);
		$("#form2").submit();
		return false;
	});
</script>
<!--/内容底部-->

</form>
</body>
</html>
