

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>编辑OAuth应用</title>
    <link href="__PUBLIC__/Admin/scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/skin/default/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/scripts/jquery/Validform_v5.3.2_min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/js/laymain.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/Admin/js/common.js"></script>
    <script type="text/javascript">
        $(function () {
            //初始化表单验证
            $("#form1").initValidform();
            //物流编码赋值
            $("#ddlExpressCode").change(function () {
                if ($(this).find("option:selected").attr("value") != "") {
                    $("#txtExpressCode").val($(this).find("option:selected").attr("value"));
                    $("#txtExpressCode").focus();
                }
            });
        });
    </script>
</head>

<body class="mainbody">
<form method="post" action="{{:U('Order/order_message_edit')}}" id="form1">
    <div class="aspNetHidden">
    </div>

    <div class="aspNetHidden">
        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="D1A3E6FD" />
    </div>
    <!--导航栏-->
    <div class="location">
        <a href="javascript:;" class="back"><i></i><span>返回列表页</span></a>
        <a href="{{:U('Index/center')}}" class="home"><i></i><span>首页</span></a>
        <i class="arrow"></i>
        <span>订单消息列表</span>
        <i class="arrow"></i>
        <span>编辑消息</span>
    </div>
    <div class="line10"></div>
    <!--/导航栏-->

    <!--内容-->
    <div id="floatHead" class="content-tab-wrap">
        <div class="content-tab">
            <div class="content-tab-ul-wrap">
                <ul>
                    <li><a class="selected" href="javascript:;">基本信息</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <dl>
            <dt>消息类型</dt>
            <dd>
                <div class="rule-single-select">
                    <select name="ddlGroupId" id="ddlGroupId" datatype="*" errormsg="请选择消息类型" sucmsg=" ">
                        <option value="0">请选择消息类型...</option>
                            <option <if condition="$info['category'] eq '1' ">selected</if> value="1">取消订单原因</option>
                            <option <if condition="$info['category'] eq '2' ">selected</if>  value="2">退换货原因</option>
                    </select>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>标题名称</dt>
            <dd>
                <input name="id" type="hidden" value="{{$info.id}}" />
                <input name="txtContent" type="text" id="txtContent" class="input normal" datatype="*2-100" sucmsg=" " value="{{$info.content}}"/> <span class="Validform_checktip">*消息内容</span></dd>
        </dl>
        <dl>
            <dt>是否启用</dt>
            <dd>
                <div class="rule-single-checkbox">
                        <input id="cbIsLock" type="checkbox" name="cbIsLock" value="1" <if condition="$info['is_lock'] eq '1'"> checked="checked"</if>/>
                </div>
                <span class="Validform_checktip">*不启用则不显示</span>
            </dd>
        </dl>
    </div>
    <!--/内容-->

    <!--工具栏-->
    <div class="page-footer">
        <div class="btn-wrap">
            <input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btn" />
            <input name="btnReturn" type="button" value="返回上一页" class="btn yellow" onclick="javascript:history.back(-1);" />
        </div>
    </div>
    <!--/工具栏-->

</form>
</body>
</html>
