<link href="__PUBLIC__/Home/style/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/layer/extend/layer.ext.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<div id="checks9">
    <div style="width:100%;padding:10px 20px 0;">
        <div style="width:100%;height:30px;color:#333333;background:#E8E8E8;font-size:18px;line-height:30px;padding-left:10px;"><b>日志信息</b></div>
        <table style=" margin-top:10px;" border="0" width="100%">
            <!--<if condition="$rs['userorderlog'] eq ''">-->
            <tr align="left">
                <td> 暂无日志信息</td>
            </tr>
            <!--<else />-->
            <!--<foreach name="rs['userorderlog']" item="v">-->
            <tr>
                <td style="width:25%;text-align:center;height:40px;line-height:40px;">{{$v['addtime']}}</td>
                <td >{{$v['content']}}</td>
            </tr>
            <!--</foreach>-->
            <!--</if>-->
        </table>

        <div style="width:100%;height:30px;color:#333333;background:#E8E8E8;font-size:18px;line-height:30px;padding-left:10px;"><b>用户信息</b></div>
        <table style=" margin-top:10px;" border="0" width="100%">
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">用户名：</td>
                <td><if condition="$userInfo['user_name'] neq ''">{{$userInfo['user_name']}}<else/><span style="color:red;">当前用户还未设置用户名</span></if></td>
            </tr>
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">手机号码：</td>
                <td>{{$userInfo['mobile']}}</td>
            </tr>
        </table>


        <!--<if condition="$rs['return_info'] neq ''">-->
        <div style="width:100%;height:30px;color:#333333;background: #E8E8E8;font-size:18px;line-height:30px;padding-left:10px;"><b>退款详情</b></div>
        <table style=" margin-top:10px;" border="0" width="100%">
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">退款说明：</td>
                <td> {{$rs['return_info']}}</td>
            </tr>
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">退款原因：</td>
                <td>{{$rs['return_reason']}}</td>
            </tr>
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">退款凭证：</td>
                <td>
                    <!--<foreach name="rs['refundImg']" item="v">-->
                    <img layer-pid="{{$key}}" layer-src="{{:str_replace('thumb_', '', $v)}}" src="{{$v}}" width="80px" height="90px" style="padding:10px 10px;cursor: pointer;">
                    <!--</foreach>-->
                </td>
            </tr>
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">申请时间：</td>
                <td>{{$rs['refundtime']}}</td>
            </tr>
            <!--<if condition="$rs['orderStatus'] eq '10'">-->
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">退款状态：</td>
                <td>已拒绝：{{$rs['refusereason']}}</td>
            </tr>
            <!--<else/>-->
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">退款状态：</td>
                <td>已同意</td>
            </tr>
            <!--</if>-->
        </table>
        <!--</if>-->

        <div style="width:100%;height:30px;color:#333333;background: #E8E8E8;font-size:18px;line-height:30px;padding-left:10px;"><b>发票信息</b></div>
        <table style=" margin-top:10px;" border="0" width="100%">
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">所属类别：</td>
                <td>{{$rs['invoiceval']}}</td>
            </tr>
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">发票抬头：</td>
                <td>{{$rs['invoicename']}}</td>
            </tr>
        </table>


        <div style="width:100%;height:30px;color:#333333;background: #E8E8E8;font-size:18px;line-height:30px;padding-left:10px;"><b>订单信息</b></div>
        <table style=" margin-top:10px;" border="0" width="100%">
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">订单编码：</td>
                <td> {{$rs.orderno}}</td>
            </tr>
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">支付方式：</td>
                <td>
                    <!--<if condition="$rs['ispay'] neq '0'">-->
                    <!--<if condition="$rs['paytype'] eq '0'">-->
                    微信支付
                    <!--<elseif  condition="$rs['paytype'] eq '1'"/>-->
                    支付宝支付
                    <!--<else />-->
                    免单(积分抵扣)
                    <!--</if>-->
                    <!--<else />-->
                    未支付
                    <!--</if>-->
                </td>
            </tr>
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">配送方式：</td>
                <td> {{$rs['deliverycompanyid']|showCompanyName=###}}&emsp;<if condition="$rs['deliveryno'] neq ''">{{$rs['deliveryno']}}</if></td>
            </tr>
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">买家留言：</td>
                <td>{{$rs['buyermessage']}}</td>
            </tr>
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">下单时间：</td>
                <td>{{$rs['createtime']}}</td>
            </tr>
        </table>


        <div style="width:100%;height:30px;color:#333333;background: #E8E8E8;font-size:18px;line-height:30px;padding-left:10px;"><b>收货人信息</b></div>
        <table style=" margin-top:10px;" border="0" width="100%">
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">收货人姓名：</td>
                <td>{{$rs['username']}}</td>
            </tr>
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">收货人地址：</td>
                <td>{{$rs['area']}} {{$rs['useraddress']}}</td>
            </tr>
            <tr>
                <td style="width:20%;text-align:right;height:40px;line-height:40px;">手机号码：</td>
                <td> {{$rs['userphone']}}</td>
            </tr>
        </table>


        <div style="width:100%;height:30px;color:#333333;background: #E8E8E8;font-size:18px;line-height:30px;padding-left:10px;"><b>商品信息</b></div>
        <table style=" margin-top:10px;text-align:center;" border="0" width="100%">
            <tr height="40">
                <th width="*" colspan="2"><center>商品名称</center></th>
                <th width="25%"><center>价格</center></th>
                <th width="25%"><center>商品数量</center></th>
            </tr>
            <!--<foreach name = "rs['ordergoods']" item = "v">-->
            <tr>
                <td colspan="2"><img style="width:60px;height:60px;" src="{{$v['img_url']}}"/><span style="font-size:13px;padding-left:6px;">{{$v['goods_title']}}</span></td>
                <td>{{$v['goods_price']}}</td>
                <td>x {{$v['quantity']}}</td>
            </tr>
            <!--</foreach>-->
        </table>
        <div style="float:right;margin:10px 20px 50px 0;">
            <div><h4>订单总金额：<span style="color:red;">￥ {{$rs['totalmoney']}} 元</span></h4></div>
            <div><h4>运费：<span style="color:red;">￥ {{$rs['freight']}} 元</span></h4></div>
            <div><h4>使用积分：<span style="color:red;">{{$rs['employscore']}} 积分</span></h4></div>
            <div><h4>积分抵扣：<span style="color:red;">{{$rs['scorededuction']}} 元</span></h4></div>
            <div><h4>优惠码抵扣：<span style="color:red;">{{$rs['yhmdeduction']}} 元</span></h4></div>
            <div><h4>应付金额：<span style="color:red;">{{$rs['realitymoney']}} 元</span></h4></div>
            <!--<if condition="$rs['orderStatus'] neq 0" >-->
            <div>
                <h3>实付金额：
                <span style="color:red;">
                    <!--<if condition="$rs['orderStatus'] eq 1">-->
                     ￥ 0.00 元
                    <!--<else />-->
                     ￥ {{$rs['realityMoney']}} 元
                    <!--</if>-->
                </span>
                </h3>
            </div>
            <!--</if>-->
        </div>



    </div>
</div>
<script type="text/javascript">
  //相册js
  layer.ready(function(){ //为了layer.ext.js加载完毕再执行
      layer.photos({
      photos: '#layer-photos-demo'
      });
  });
</script>
