<link href="__PUBLIC__/Home/style/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/scripts/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/layer/extend/layer.ext.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>



<div id="checks9">
    <div style="margin:10px 20px 10px 20px;">
        <table style=" margin-top:10px;" border="0" width="100%">
            <tr>
                <td style="width:20%;text-align:right;height:50px;">退货订单号：</td>
                <td>{{$rs['orderno']}}</td>
            </tr>
            <tr>
                <td style="width:20%;text-align:right;height:50px;">退货说明：</td>
                <td>{{$rs['return_info']}}</td>
            </tr>
            <tr>
                <td style="width:20%;text-align:right;height:50px;">退货原因：</td>
                <td>{{$rs['return_reason']}}</td>
            </tr>
            <!--<if condition="$rs['refundImg'] neq ''">-->
            <tr>
                <td style="width:20%;text-align:right;height:50px;">退货凭证：</td>
                <td>
                   <div id="layer-photos-demo" class="layer-photos-demo">
                      <!--<foreach name="rs['refundImg']" item="v">-->
                       <img layer-pid="{{$key}}" layer-src="{{:str_replace('thumb_', '', $v)}}" src="{{$v}}" width="80px" height="90px" style="padding:10px 10px;cursor: pointer;">
                      <!--</foreach>-->
                   </div>
                </td>
            </tr>
            <!--</if>-->
            
            <tr>
                <td style="width:20%;text-align:right;height:50px;">用户申请退款时间:</td>
                <td>{{$rs['refundtime']}}</td>
            </tr>
           <!--  <tr>
                <td style="width:20%;text-align:right;height:50px;">商家同意退款时间:</td>
                <td>{{$rs['refundQueryTime']}}</td>
            </tr> -->
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr align="center">
               <td colspan="2">
                <switch name = "rs['goodsStatus']">
                  <case value = "5">
                    <span style="padding-right:20px;">
                      <button type="button" class="btn btn-primary" onclick="agreen({{$rs['id']}});">
                        同意退款申请
                    </button>
                    </span>
                    <span>
                      <button type="button" class="btn btn-danger" onclick="refused({{$rs['id']}});">
                        拒绝退款申请
                      </button>
                    </span>
                  </case>
                  <case value = "6">
                      <button type="button" class="btn btn-danger">
                       商家已同意用户退款申请，等待收货中</button>
                   </case>
                   <case value = "7">
                      <button type="button" class="btn btn-danger" onclick="refused({{$rs['id']}});">
                       商家待收货</button>
                   </case>
                   <case value = "8">
                    <button type="button" class="btn btn-danger">
                       商家已收货，待确定退款</button>
                   </case>
                   <case value = "9">
                    <button type="button" class="btn btn-danger">
                        已同意退款</button>
                   </case>
                   <case value = "10">
                    <button type="button" class="btn btn-danger">
                        已拒绝退款</button>
                   </case>
                   <case value = "14">
                    <button type="button" class="btn btn-danger">
                        已完成</button>
                   </case>
               </switch>
               </td>
            </tr>
        </table>
    </div>
</div>
 <script type="text/javascript">
  //相册js
  layer.ready(function(){ //为了layer.ext.js加载完毕再执行
      layer.photos({
      photos: '#layer-photos-demo'
      });
  });
  //单个商品同意退款
  function agreen(id){
    var type = 1; 
     layer.confirm('操作确认？', {
      btn: ['确定','取消'],
    }, function(){
       $.post("{{:U('Order/goodsStatus')}}",{id:id,type:type},function(data){
            if(data.status == 'success' ){
                layer.msg(data.info);
                location.reload();
            }else{
               layer.msg(data.info);
            }
        },'json');
    }, function(){});
  }
  //单个商品拒绝退款
  function refused(id){
    var type = 0;
    layer.prompt({
    title: '拒绝原因',
    formType: 2
    }, function(text){
         $.post("{{:U('Order/goodsStatus')}}",{id:id,type:type,refuseReason:text},function(data){
            if(data.status == 'success' ){
                layer.msg(data.info);
                location.reload();
            }else{
               layer.msg(data.info);
            }
        },'json');
    });
  }
</script>
