
  <div class="main">
    <div class="source">
      <h5 class="source-head">[ 资源库 ]</h5>
      <div class="source-title">
        <a href="#" class="cur-source">全部</a>
        <a href="#">视频</a>
        <a href="#">采访</a>
        <a href="#">文章</a>
      </div>
      <div class="source-list clearfix">
        <ul>
          <li>
            <img src="__PUBLIC__/Home/images2/upload/source.jpg" alt="">
            <div class="book-mask">
              <span class="source-span1"><img src="__PUBLIC__/Home/images2/source03.png" alt="">中学生科学教育课堂采访</span>
              <span class="source-span2">radio 1</span>
              <div class="source-icon">
                <a href="#" class="source-icon1"></a>
                <a href="#" class="source-icon2"></a>
                <a href="#" class="source-icon3"></a>
              </div>
            </div>
            <i class="source-i source-radio"></i>
          </li>
          <li>
            <img src="__PUBLIC__/Home/images2/upload/source.jpg" alt="">
            <div class="book-mask">
              <span class="source-span1"><img src="__PUBLIC__/Home/images2/source05.png" alt="">中学生科学教育课堂采访</span>
              <span class="source-span2">radio 1</span>
              <div class="source-icon">
                <a href="#" class="source-icon4"></a>
                <a href="#" class="source-icon2"></a>
                <a href="#" class="source-icon3"></a>
              </div>
            </div>
            <i class="source-i source-book"></i>
          </li>
          <li>
            <img src="__PUBLIC__/Home/images2/upload/source.jpg" alt="">
            <div class="book-mask">
              <span class="source-span1"><img src="__PUBLIC__/Home/images2/source04.png" alt="">中学生科学教育课堂采访</span>
              <span class="source-span2">radio 1</span>
              <div class="source-icon">
                <a href="#" class="source-icon1"></a>
                <a href="#" class="source-icon2"></a>
                <a href="#" class="source-icon3"></a>
              </div>
            </div>
            <i class="source-i source-video"></i>
          </li>
          <li>
            <img src="__PUBLIC__/Home/images2/upload/source.jpg" alt="">
            <div class="book-mask">
              <span class="source-span1"><img src="__PUBLIC__/Home/images2/source04.png" alt="">中学生科学教育课堂采访</span>
              <span class="source-span2">radio 1</span>
              <div class="source-icon">
                <a href="#" class="source-icon1"></a>
                <a href="#" class="source-icon2"></a>
                <a href="#" class="source-icon3"></a>
              </div>
            </div>
            <i class="source-i source-video"></i>
          </li>
          <li>
            <img src="__PUBLIC__/Home/images2/upload/source.jpg" alt="">
            <div class="book-mask">
              <span class="source-span1"><img src="__PUBLIC__/Home/images2/source03.png" alt="">中学生科学教育课堂采访</span>
              <span class="source-span2">radio 1</span>
              <div class="source-icon">
                <a href="#" class="source-icon1"></a>
                <a href="#" class="source-icon2"></a>
                <a href="#" class="source-icon3"></a>
              </div>
            </div>
            <i class="source-i source-radio"></i>
          </li>
          <li>
            <img src="__PUBLIC__/Home/images2/upload/source.jpg" alt="">
            <div class="book-mask">
              <span class="source-span1"><img src="__PUBLIC__/Home/images2/source05.png" alt="">中学生科学教育课堂采访</span>
              <span class="source-span2">radio 1</span>
              <div class="source-icon">
                <a href="#" class="source-icon4"></a>
                <a href="#" class="source-icon2"></a>
                <a href="#" class="source-icon3"></a>
              </div>
            </div>
            <i class="source-i source-book"></i>
          </li>
          <li>
            <img src="__PUBLIC__/Home/images2/upload/source.jpg" alt="">
            <div class="book-mask">
              <span class="source-span1"><img src="__PUBLIC__/Home/images2/source05.png" alt="">中学生科学教育课堂采访</span>
              <span class="source-span2">radio 1</span>
              <div class="source-icon">
                <a href="#" class="source-icon4"></a>
                <a href="#" class="source-icon2"></a>
                <a href="#" class="source-icon3"></a>
              </div>
            </div>
            <i class="source-i source-book"></i>
          </li>
          <li>
            <img src="__PUBLIC__/Home/images2/upload/source.jpg" alt="">
            <div class="book-mask">
              <span class="source-span1"><img src="__PUBLIC__/Home/images2/source04.png" alt="">中学生科学教育课堂采访</span>
              <span class="source-span2">radio 1</span>
              <div class="source-icon">
                <a href="#" class="source-icon1"></a>
                <a href="#" class="source-icon2"></a>
                <a href="#" class="source-icon3"></a>
              </div>
            </div>
            <i class="source-i source-video"></i>
          </li>
          <li>
            <img src="__PUBLIC__/Home/images2/upload/source.jpg" alt="">
            <div class="book-mask">
              <span class="source-span1"><img src="__PUBLIC__/Home/images2/source03.png" alt="">中学生科学教育课堂采访</span>
              <span class="source-span2">radio 1</span>
              <div class="source-icon">
                <a href="#" class="source-icon1"></a>
                <a href="#" class="source-icon2"></a>
                <a href="#" class="source-icon3"></a>
              </div>
            </div>
            <i class="source-i source-radio"></i>
          </li>
        </ul>
      </div>
      <div class="page">
        <span class="prev"></span>
        <a href="#" class="cur">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">..</a>
        <a href="#">99</a>
        <a href="#">100</a>
        <span class="next"></span>
      </div>
    </div>
  </div>
  <!--main结束--> 
</div>

